                         .card-thumbnail.group-1-20 { background: url('/img/thumbnails/atlas_1_20_0_normal.ec466a.png') no-repeat; }
.use-idolized-thumbnails .card-thumbnail.group-1-20 { background: url('/img/thumbnails/atlas_1_20_0_idolized.ec466a.png') no-repeat; }
                         .card-thumbnail.group-2-20 { background: url('/img/thumbnails/atlas_2_20_0_normal.ec466a.png') no-repeat; }
.use-idolized-thumbnails .card-thumbnail.group-2-20 { background: url('/img/thumbnails/atlas_2_20_0_idolized.ec466a.png') no-repeat; }
                         .card-thumbnail.group-3-20 { background: url('/img/thumbnails/atlas_3_20_0_normal.ec466a.png') no-repeat; }
.use-idolized-thumbnails .card-thumbnail.group-3-20 { background: url('/img/thumbnails/atlas_3_20_0_idolized.ec466a.png') no-repeat; }
                         .card-thumbnail.group-1-30 { background: url('/img/thumbnails/atlas_1_30_0_normal.ec466a.png') no-repeat; }
.use-idolized-thumbnails .card-thumbnail.group-1-30 { background: url('/img/thumbnails/atlas_1_30_0_idolized.ec466a.png') no-repeat; }
                         .card-thumbnail.group-2-30 { background: url('/img/thumbnails/atlas_2_30_0_normal.ec466a.png') no-repeat; }
.use-idolized-thumbnails .card-thumbnail.group-2-30 { background: url('/img/thumbnails/atlas_2_30_0_idolized.ec466a.png') no-repeat; }
                         .card-thumbnail.group-3-30 { background: url('/img/thumbnails/atlas_3_30_0_normal.ec466a.png') no-repeat; }
.use-idolized-thumbnails .card-thumbnail.group-3-30 { background: url('/img/thumbnails/atlas_3_30_0_idolized.ec466a.png') no-repeat; }
.card-thumbnail.card-31 { background-position: 0px -80px !important; }
.card-thumbnail.card-133 { background-position: 0px -160px !important; }
.card-thumbnail.card-179 { background-position: 0px -240px !important; }
.card-thumbnail.card-219 { background-position: 0px -320px !important; }
.card-thumbnail.card-300 { background-position: 0px -400px !important; }
.card-thumbnail.card-363 { background-position: 0px -480px !important; }
.card-thumbnail.card-403 { background-position: 0px -560px !important; }
.card-thumbnail.card-446 { background-position: 0px -640px !important; }
.card-thumbnail.card-525 { background-position: 0px -720px !important; }
.card-thumbnail.card-19 { background-position: -80px -80px !important; }
.card-thumbnail.card-116 { background-position: -80px -160px !important; }
.card-thumbnail.card-184 { background-position: -80px -240px !important; }
.card-thumbnail.card-224 { background-position: -80px -320px !important; }
.card-thumbnail.card-291 { background-position: -80px -400px !important; }
.card-thumbnail.card-350 { background-position: -80px -480px !important; }
.card-thumbnail.card-394 { background-position: -80px -560px !important; }
.card-thumbnail.card-485 { background-position: -80px -640px !important; }
.card-thumbnail.card-513 { background-position: -80px -720px !important; }
.card-thumbnail.card-600 { background-position: -80px -800px !important; }
.card-thumbnail.card-23 { background-position: -160px -80px !important; }
.card-thumbnail.card-108 { background-position: -160px -160px !important; }
.card-thumbnail.card-153 { background-position: -160px -240px !important; }
.card-thumbnail.card-249 { background-position: -160px -320px !important; }
.card-thumbnail.card-309 { background-position: -160px -400px !important; }
.card-thumbnail.card-348 { background-position: -160px -480px !important; }
.card-thumbnail.card-382 { background-position: -160px -560px !important; }
.card-thumbnail.card-450 { background-position: -160px -640px !important; }
.card-thumbnail.card-544 { background-position: -160px -720px !important; }
.card-thumbnail.card-574 { background-position: -160px -800px !important; }
.card-thumbnail.card-3 { background-position: -240px -80px !important; }
.card-thumbnail.card-142 { background-position: -240px -160px !important; }
.card-thumbnail.card-147 { background-position: -240px -240px !important; }
.card-thumbnail.card-239 { background-position: -240px -320px !important; }
.card-thumbnail.card-321 { background-position: -240px -400px !important; }
.card-thumbnail.card-357 { background-position: -240px -480px !important; }
.card-thumbnail.card-390 { background-position: -240px -560px !important; }
.card-thumbnail.card-471 { background-position: -240px -640px !important; }
.card-thumbnail.card-533 { background-position: -240px -720px !important; }
.card-thumbnail.card-581 { background-position: -240px -800px !important; }
.card-thumbnail.card-11 { background-position: -320px -80px !important; }
.card-thumbnail.card-130 { background-position: -320px -160px !important; }
.card-thumbnail.card-197 { background-position: -320px -240px !important; }
.card-thumbnail.card-255 { background-position: -320px -320px !important; }
.card-thumbnail.card-275 { background-position: -320px -400px !important; }
.card-thumbnail.card-336 { background-position: -320px -480px !important; }
.card-thumbnail.card-409 { background-position: -320px -560px !important; }
.card-thumbnail.card-459 { background-position: -320px -640px !important; }
.card-thumbnail.card-548 { background-position: -320px -720px !important; }
.card-thumbnail.card-15 { background-position: -400px -80px !important; }
.card-thumbnail.card-125 { background-position: -400px -160px !important; }
.card-thumbnail.card-186 { background-position: -400px -240px !important; }
.card-thumbnail.card-237 { background-position: -400px -320px !important; }
.card-thumbnail.card-314 { background-position: -400px -400px !important; }
.card-thumbnail.card-371 { background-position: -400px -480px !important; }
.card-thumbnail.card-423 { background-position: -400px -560px !important; }
.card-thumbnail.card-479 { background-position: -400px -640px !important; }
.card-thumbnail.card-520 { background-position: -400px -720px !important; }
.card-thumbnail.card-586 { background-position: -400px -800px !important; }
.card-thumbnail.card-27 { background-position: -480px -80px !important; }
.card-thumbnail.card-121 { background-position: -480px -160px !important; }
.card-thumbnail.card-162 { background-position: -480px -240px !important; }
.card-thumbnail.card-231 { background-position: -480px -320px !important; }
.card-thumbnail.card-303 { background-position: -480px -400px !important; }
.card-thumbnail.card-345 { background-position: -480px -480px !important; }
.card-thumbnail.card-417 { background-position: -480px -560px !important; }
.card-thumbnail.card-439 { background-position: -480px -640px !important; }
.card-thumbnail.card-491 { background-position: -480px -720px !important; }
.card-thumbnail.card-568 { background-position: -480px -800px !important; }
.card-thumbnail.card-7 { background-position: -560px -80px !important; }
.card-thumbnail.card-106 { background-position: -560px -160px !important; }
.card-thumbnail.card-168 { background-position: -560px -240px !important; }
.card-thumbnail.card-217 { background-position: -560px -320px !important; }
.card-thumbnail.card-270 { background-position: -560px -400px !important; }
.card-thumbnail.card-330 { background-position: -560px -480px !important; }
.card-thumbnail.card-428 { background-position: -560px -560px !important; }
.card-thumbnail.card-453 { background-position: -560px -640px !important; }
.card-thumbnail.card-507 { background-position: -560px -720px !important; }
.card-thumbnail.card-564 { background-position: -560px -800px !important; }
.card-thumbnail.card-35 { background-position: -640px -80px !important; }
.card-thumbnail.card-110 { background-position: -640px -160px !important; }
.card-thumbnail.card-174 { background-position: -640px -240px !important; }
.card-thumbnail.card-261 { background-position: -640px -320px !important; }
.card-thumbnail.card-283 { background-position: -640px -400px !important; }
.card-thumbnail.card-324 { background-position: -640px -480px !important; }
.card-thumbnail.card-401 { background-position: -640px -560px !important; }
.card-thumbnail.card-464 { background-position: -640px -640px !important; }
.card-thumbnail.card-503 { background-position: -640px -720px !important; }
.card-thumbnail.card-591 { background-position: -640px -800px !important; }
.card-thumbnail.card-63 { background-position: 0px -80px !important; }
.card-thumbnail.card-113 { background-position: 0px -160px !important; }
.card-thumbnail.card-154 { background-position: 0px -240px !important; }
.card-thumbnail.card-257 { background-position: 0px -320px !important; }
.card-thumbnail.card-292 { background-position: 0px -400px !important; }
.card-thumbnail.card-342 { background-position: 0px -480px !important; }
.card-thumbnail.card-383 { background-position: 0px -560px !important; }
.card-thumbnail.card-451 { background-position: 0px -640px !important; }
.card-thumbnail.card-502 { background-position: 0px -720px !important; }
.card-thumbnail.card-556 { background-position: 0px -800px !important; }
.card-thumbnail.card-59 { background-position: -80px -80px !important; }
.card-thumbnail.card-123 { background-position: -80px -160px !important; }
.card-thumbnail.card-171 { background-position: -80px -240px !important; }
.card-thumbnail.card-247 { background-position: -80px -320px !important; }
.card-thumbnail.card-310 { background-position: -80px -400px !important; }
.card-thumbnail.card-368 { background-position: -80px -480px !important; }
.card-thumbnail.card-432 { background-position: -80px -560px !important; }
.card-thumbnail.card-438 { background-position: -80px -640px !important; }
.card-thumbnail.card-537 { background-position: -80px -720px !important; }
.card-thumbnail.card-585 { background-position: -80px -800px !important; }
.card-thumbnail.card-71 { background-position: -160px -80px !important; }
.card-thumbnail.card-131 { background-position: -160px -160px !important; }
.card-thumbnail.card-189 { background-position: -160px -240px !important; }
.card-thumbnail.card-265 { background-position: -160px -320px !important; }
.card-thumbnail.card-317 { background-position: -160px -400px !important; }
.card-thumbnail.card-360 { background-position: -160px -480px !important; }
.card-thumbnail.card-400 { background-position: -160px -560px !important; }
.card-thumbnail.card-447 { background-position: -160px -640px !important; }
.card-thumbnail.card-509 { background-position: -160px -720px !important; }
.card-thumbnail.card-39 { background-position: -240px -80px !important; }
.card-thumbnail.card-103 { background-position: -240px -160px !important; }
.card-thumbnail.card-148 { background-position: -240px -240px !important; }
.card-thumbnail.card-235 { background-position: -240px -320px !important; }
.card-thumbnail.card-294 { background-position: -240px -400px !important; }
.card-thumbnail.card-335 { background-position: -240px -480px !important; }
.card-thumbnail.card-387 { background-position: -240px -560px !important; }
.card-thumbnail.card-468 { background-position: -240px -640px !important; }
.card-thumbnail.card-495 { background-position: -240px -720px !important; }
.card-thumbnail.card-582 { background-position: -240px -800px !important; }
.card-thumbnail.card-43 { background-position: -320px -80px !important; }
.card-thumbnail.card-135 { background-position: -320px -160px !important; }
.card-thumbnail.card-194 { background-position: -320px -240px !important; }
.card-thumbnail.card-229 { background-position: -320px -320px !important; }
.card-thumbnail.card-278 { background-position: -320px -400px !important; }
.card-thumbnail.card-377 { background-position: -320px -480px !important; }
.card-thumbnail.card-406 { background-position: -320px -560px !important; }
.card-thumbnail.card-474 { background-position: -320px -640px !important; }
.card-thumbnail.card-521 { background-position: -320px -720px !important; }
.card-thumbnail.card-570 { background-position: -320px -800px !important; }
.card-thumbnail.card-55 { background-position: -400px -80px !important; }
.card-thumbnail.card-101 { background-position: -400px -160px !important; }
.card-thumbnail.card-180 { background-position: -400px -240px !important; }
.card-thumbnail.card-253 { background-position: -400px -320px !important; }
.card-thumbnail.card-282 { background-position: -400px -400px !important; }
.card-thumbnail.card-340 { background-position: -400px -480px !important; }
.card-thumbnail.card-420 { background-position: -400px -560px !important; }
.card-thumbnail.card-461 { background-position: -400px -640px !important; }
.card-thumbnail.card-545 { background-position: -400px -720px !important; }
.card-thumbnail.card-567 { background-position: -400px -800px !important; }
.card-thumbnail.card-47 { background-position: -480px -80px !important; }
.card-thumbnail.card-138 { background-position: -480px -160px !important; }
.card-thumbnail.card-161 { background-position: -480px -240px !important; }
.card-thumbnail.card-242 { background-position: -480px -320px !important; }
.card-thumbnail.card-267 { background-position: -480px -400px !important; }
.card-thumbnail.card-328 { background-position: -480px -480px !important; }
.card-thumbnail.card-414 { background-position: -480px -560px !important; }
.card-thumbnail.card-489 { background-position: -480px -640px !important; }
.card-thumbnail.card-539 { background-position: -480px -720px !important; }
.card-thumbnail.card-588 { background-position: -480px -800px !important; }
.card-thumbnail.card-51 { background-position: -560px -80px !important; }
.card-thumbnail.card-140 { background-position: -560px -160px !important; }
.card-thumbnail.card-156 { background-position: -560px -240px !important; }
.card-thumbnail.card-216 { background-position: -560px -320px !important; }
.card-thumbnail.card-299 { background-position: -560px -400px !important; }
.card-thumbnail.card-366 { background-position: -560px -480px !important; }
.card-thumbnail.card-385 { background-position: -560px -560px !important; }
.card-thumbnail.card-481 { background-position: -560px -640px !important; }
.card-thumbnail.card-524 { background-position: -560px -720px !important; }
.card-thumbnail.card-596 { background-position: -560px -800px !important; }
.card-thumbnail.card-67 { background-position: -640px -80px !important; }
.card-thumbnail.card-118 { background-position: -640px -160px !important; }
.card-thumbnail.card-192 { background-position: -640px -240px !important; }
.card-thumbnail.card-225 { background-position: -640px -320px !important; }
.card-thumbnail.card-322 { background-position: -640px -400px !important; }
.card-thumbnail.card-354 { background-position: -640px -480px !important; }
.card-thumbnail.card-425 { background-position: -640px -560px !important; }
.card-thumbnail.card-456 { background-position: -640px -640px !important; }
.card-thumbnail.card-497 { background-position: -640px -720px !important; }
.card-thumbnail.card-560 { background-position: -640px -800px !important; }
.card-thumbnail.card-99 { background-position: 0px -80px !important; }
.card-thumbnail.card-143 { background-position: 0px -160px !important; }
.card-thumbnail.card-166 { background-position: 0px -240px !important; }
.card-thumbnail.card-243 { background-position: 0px -320px !important; }
.card-thumbnail.card-288 { background-position: 0px -400px !important; }
.card-thumbnail.card-358 { background-position: 0px -480px !important; }
.card-thumbnail.card-391 { background-position: 0px -560px !important; }
.card-thumbnail.card-435 { background-position: 0px -640px !important; }
.card-thumbnail.card-494 { background-position: 0px -720px !important; }
.card-thumbnail.card-578 { background-position: 0px -800px !important; }
.card-thumbnail.card-78 { background-position: -80px -80px !important; }
.card-thumbnail.card-111 { background-position: -80px -160px !important; }
.card-thumbnail.card-165 { background-position: -80px -240px !important; }
.card-thumbnail.card-221 { background-position: -80px -320px !important; }
.card-thumbnail.card-279 { background-position: -80px -400px !important; }
.card-thumbnail.card-353 { background-position: -80px -480px !important; }
.card-thumbnail.card-429 { background-position: -80px -560px !important; }
.card-thumbnail.card-443 { background-position: -80px -640px !important; }
.card-thumbnail.card-512 { background-position: -80px -720px !important; }
.card-thumbnail.card-576 { background-position: -80px -800px !important; }
.card-thumbnail.card-81 { background-position: -160px -80px !important; }
.card-thumbnail.card-114 { background-position: -160px -160px !important; }
.card-thumbnail.card-198 { background-position: -160px -240px !important; }
.card-thumbnail.card-234 { background-position: -160px -320px !important; }
.card-thumbnail.card-306 { background-position: -160px -400px !important; }
.card-thumbnail.card-346 { background-position: -160px -480px !important; }
.card-thumbnail.card-395 { background-position: -160px -560px !important; }
.card-thumbnail.card-488 { background-position: -160px -640px !important; }
.card-thumbnail.card-541 { background-position: -160px -720px !important; }
.card-thumbnail.card-286 { background-position: -240px -80px !important; }
.card-thumbnail.card-404 { background-position: -240px -160px !important; }
.card-thumbnail.card-476 { background-position: -240px -240px !important; }
.card-thumbnail.card-550 { background-position: -240px -320px !important; }
.card-thumbnail.card-599 { background-position: -240px -400px !important; }
.card-thumbnail.card-75 { background-position: -320px -80px !important; }
.card-thumbnail.card-104 { background-position: -320px -160px !important; }
.card-thumbnail.card-176 { background-position: -320px -240px !important; }
.card-thumbnail.card-228 { background-position: -320px -320px !important; }
.card-thumbnail.card-271 { background-position: -320px -400px !important; }
.card-thumbnail.card-339 { background-position: -320px -480px !important; }
.card-thumbnail.card-397 { background-position: -320px -560px !important; }
.card-thumbnail.card-457 { background-position: -320px -640px !important; }
.card-thumbnail.card-549 { background-position: -320px -720px !important; }
.card-thumbnail.card-573 { background-position: -320px -800px !important; }
.card-thumbnail.card-93 { background-position: -400px -80px !important; }
.card-thumbnail.card-158 { background-position: -400px -160px !important; }
.card-thumbnail.card-190 { background-position: -400px -240px !important; }
.card-thumbnail.card-252 { background-position: -400px -320px !important; }
.card-thumbnail.card-273 { background-position: -400px -400px !important; }
.card-thumbnail.card-376 { background-position: -400px -480px !important; }
.card-thumbnail.card-433 { background-position: -400px -560px !important; }
.card-thumbnail.card-484 { background-position: -400px -640px !important; }
.card-thumbnail.card-536 { background-position: -400px -720px !important; }
.card-thumbnail.card-87 { background-position: -480px -80px !important; }
.card-thumbnail.card-119 { background-position: -480px -160px !important; }
.card-thumbnail.card-202 { background-position: -480px -240px !important; }
.card-thumbnail.card-260 { background-position: -480px -320px !important; }
.card-thumbnail.card-312 { background-position: -480px -400px !important; }
.card-thumbnail.card-364 { background-position: -480px -480px !important; }
.card-thumbnail.card-379 { background-position: -480px -560px !important; }
.card-thumbnail.card-469 { background-position: -480px -640px !important; }
.card-thumbnail.card-515 { background-position: -480px -720px !important; }
.card-thumbnail.card-563 { background-position: -480px -800px !important; }
.card-thumbnail.card-531 { background-position: -560px -80px !important; }
.card-thumbnail.card-558 { background-position: -560px -160px !important; }
.card-thumbnail.card-96 { background-position: -640px -80px !important; }
.card-thumbnail.card-136 { background-position: -640px -160px !important; }
.card-thumbnail.card-183 { background-position: -640px -240px !important; }
.card-thumbnail.card-213 { background-position: -640px -320px !important; }
.card-thumbnail.card-304 { background-position: -640px -400px !important; }
.card-thumbnail.card-327 { background-position: -640px -480px !important; }
.card-thumbnail.card-421 { background-position: -640px -560px !important; }
.card-thumbnail.card-465 { background-position: -640px -640px !important; }
.card-thumbnail.card-506 { background-position: -640px -720px !important; }
.card-thumbnail.card-555 { background-position: -640px -800px !important; }
.card-thumbnail.card-90 { background-position: -720px -80px !important; }
.card-thumbnail.card-126 { background-position: -720px -160px !important; }
.card-thumbnail.card-201 { background-position: -720px -240px !important; }
.card-thumbnail.card-264 { background-position: -720px -320px !important; }
.card-thumbnail.card-318 { background-position: -720px -400px !important; }
.card-thumbnail.card-332 { background-position: -720px -480px !important; }
.card-thumbnail.card-410 { background-position: -720px -560px !important; }
.card-thumbnail.card-441 { background-position: -720px -640px !important; }
.card-thumbnail.card-499 { background-position: -720px -720px !important; }
.card-thumbnail.card-592 { background-position: -720px -800px !important; }
.card-thumbnail.card-84 { background-position: -800px -80px !important; }
.card-thumbnail.card-150 { background-position: -800px -160px !important; }
.card-thumbnail.card-172 { background-position: -800px -240px !important; }
.card-thumbnail.card-246 { background-position: -800px -320px !important; }
.card-thumbnail.card-296 { background-position: -800px -400px !important; }
.card-thumbnail.card-372 { background-position: -800px -480px !important; }
.card-thumbnail.card-415 { background-position: -800px -560px !important; }
.card-thumbnail.card-475 { background-position: -800px -640px !important; }
.card-thumbnail.card-517 { background-position: -800px -720px !important; }
.card-thumbnail.card-594 { background-position: -800px -800px !important; }
.card-thumbnail.card-528 { background-position: -880px -80px !important; }
.card-thumbnail.card-552 { background-position: -880px -160px !important; }
.card-thumbnail.card-32 { background-position: 0px -80px !important; }
.card-thumbnail.card-117 { background-position: 0px -160px !important; }
.card-thumbnail.card-155 { background-position: 0px -240px !important; }
.card-thumbnail.card-199 { background-position: 0px -320px !important; }
.card-thumbnail.card-266 { background-position: 0px -400px !important; }
.card-thumbnail.card-316 { background-position: 0px -480px !important; }
.card-thumbnail.card-378 { background-position: 0px -560px !important; }
.card-thumbnail.card-431 { background-position: 0px -640px !important; }
.card-thumbnail.card-500 { background-position: 0px -720px !important; }
.card-thumbnail.card-590 { background-position: 0px -800px !important; }
.card-thumbnail.card-20 { background-position: -80px -80px !important; }
.card-thumbnail.card-137 { background-position: -80px -160px !important; }
.card-thumbnail.card-188 { background-position: -80px -240px !important; }
.card-thumbnail.card-240 { background-position: -80px -320px !important; }
.card-thumbnail.card-263 { background-position: -80px -400px !important; }
.card-thumbnail.card-326 { background-position: -80px -480px !important; }
.card-thumbnail.card-412 { background-position: -80px -560px !important; }
.card-thumbnail.card-442 { background-position: -80px -640px !important; }
.card-thumbnail.card-492 { background-position: -80px -720px !important; }
.card-thumbnail.card-559 { background-position: -80px -800px !important; }
.card-thumbnail.card-24 { background-position: -160px -80px !important; }
.card-thumbnail.card-127 { background-position: -160px -160px !important; }
.card-thumbnail.card-170 { background-position: -160px -240px !important; }
.card-thumbnail.card-220 { background-position: -160px -320px !important; }
.card-thumbnail.card-272 { background-position: -160px -400px !important; }
.card-thumbnail.card-352 { background-position: -160px -480px !important; }
.card-thumbnail.card-426 { background-position: -160px -560px !important; }
.card-thumbnail.card-463 { background-position: -160px -640px !important; }
.card-thumbnail.card-505 { background-position: -160px -720px !important; }
.card-thumbnail.card-554 { background-position: -160px -800px !important; }
.card-thumbnail.card-4 { background-position: -240px -80px !important; }
.card-thumbnail.card-102 { background-position: -240px -160px !important; }
.card-thumbnail.card-175 { background-position: -240px -240px !important; }
.card-thumbnail.card-251 { background-position: -240px -320px !important; }
.card-thumbnail.card-301 { background-position: -240px -400px !important; }
.card-thumbnail.card-341 { background-position: -240px -480px !important; }
.card-thumbnail.card-396 { background-position: -240px -560px !important; }
.card-thumbnail.card-440 { background-position: -240px -640px !important; }
.card-thumbnail.card-510 { background-position: -240px -720px !important; }
.card-thumbnail.card-566 { background-position: -240px -800px !important; }
.card-thumbnail.card-12 { background-position: -320px -80px !important; }
.card-thumbnail.card-100 { background-position: -320px -160px !important; }
.card-thumbnail.card-144 { background-position: -320px -240px !important; }
.card-thumbnail.card-214 { background-position: -320px -320px !important; }
.card-thumbnail.card-305 { background-position: -320px -400px !important; }
.card-thumbnail.card-359 { background-position: -320px -480px !important; }
.card-thumbnail.card-419 { background-position: -320px -560px !important; }
.card-thumbnail.card-486 { background-position: -320px -640px !important; }
.card-thumbnail.card-514 { background-position: -320px -720px !important; }
.card-thumbnail.card-572 { background-position: -320px -800px !important; }
.card-thumbnail.card-16 { background-position: -400px -80px !important; }
.card-thumbnail.card-112 { background-position: -400px -160px !important; }
.card-thumbnail.card-151 { background-position: -400px -240px !important; }
.card-thumbnail.card-226 { background-position: -400px -320px !important; }
.card-thumbnail.card-276 { background-position: -400px -400px !important; }
.card-thumbnail.card-333 { background-position: -400px -480px !important; }
.card-thumbnail.card-386 { background-position: -400px -560px !important; }
.card-thumbnail.card-455 { background-position: -400px -640px !important; }
.card-thumbnail.card-546 { background-position: -400px -720px !important; }
.card-thumbnail.card-598 { background-position: -400px -800px !important; }
.card-thumbnail.card-28 { background-position: -480px -80px !important; }
.card-thumbnail.card-134 { background-position: -480px -160px !important; }
.card-thumbnail.card-193 { background-position: -480px -240px !important; }
.card-thumbnail.card-256 { background-position: -480px -320px !important; }
.card-thumbnail.card-311 { background-position: -480px -400px !important; }
.card-thumbnail.card-337 { background-position: -480px -480px !important; }
.card-thumbnail.card-367 { background-position: -480px -560px !important; }
.card-thumbnail.card-466 { background-position: -480px -640px !important; }
.card-thumbnail.card-516 { background-position: -480px -720px !important; }
.card-thumbnail.card-577 { background-position: -480px -800px !important; }
.card-thumbnail.card-8 { background-position: -560px -80px !important; }
.card-thumbnail.card-122 { background-position: -560px -160px !important; }
.card-thumbnail.card-159 { background-position: -560px -240px !important; }
.card-thumbnail.card-245 { background-position: -560px -320px !important; }
.card-thumbnail.card-289 { background-position: -560px -400px !important; }
.card-thumbnail.card-373 { background-position: -560px -480px !important; }
.card-thumbnail.card-405 { background-position: -560px -560px !important; }
.card-thumbnail.card-473 { background-position: -560px -640px !important; }
.card-thumbnail.card-534 { background-position: -560px -720px !important; }
.card-thumbnail.card-593 { background-position: -560px -800px !important; }
.card-thumbnail.card-36 { background-position: -640px -80px !important; }
.card-thumbnail.card-139 { background-position: -640px -160px !important; }
.card-thumbnail.card-164 { background-position: -640px -240px !important; }
.card-thumbnail.card-233 { background-position: -640px -320px !important; }
.card-thumbnail.card-297 { background-position: -640px -400px !important; }
.card-thumbnail.card-365 { background-position: -640px -480px !important; }
.card-thumbnail.card-392 { background-position: -640px -560px !important; }
.card-thumbnail.card-437 { background-position: -640px -640px !important; }
.card-thumbnail.card-482 { background-position: -640px -720px !important; }
.card-thumbnail.card-540 { background-position: -640px -800px !important; }
.card-thumbnail.card-64 { background-position: 0px -80px !important; }
.card-thumbnail.card-124 { background-position: 0px -160px !important; }
.card-thumbnail.card-200 { background-position: 0px -240px !important; }
.card-thumbnail.card-230 { background-position: 0px -320px !important; }
.card-thumbnail.card-313 { background-position: 0px -400px !important; }
.card-thumbnail.card-370 { background-position: 0px -480px !important; }
.card-thumbnail.card-416 { background-position: 0px -560px !important; }
.card-thumbnail.card-467 { background-position: 0px -640px !important; }
.card-thumbnail.card-542 { background-position: 0px -720px !important; }
.card-thumbnail.card-575 { background-position: 0px -800px !important; }
.card-thumbnail.card-60 { background-position: -80px -80px !important; }
.card-thumbnail.card-105 { background-position: -80px -160px !important; }
.card-thumbnail.card-145 { background-position: -80px -240px !important; }
.card-thumbnail.card-212 { background-position: -80px -320px !important; }
.card-thumbnail.card-268 { background-position: -80px -400px !important; }
.card-thumbnail.card-351 { background-position: -80px -480px !important; }
.card-thumbnail.card-411 { background-position: -80px -560px !important; }
.card-thumbnail.card-462 { background-position: -80px -640px !important; }
.card-thumbnail.card-501 { background-position: -80px -720px !important; }
.card-thumbnail.card-551 { background-position: -80px -800px !important; }
.card-thumbnail.card-72 { background-position: -160px -80px !important; }
.card-thumbnail.card-109 { background-position: -160px -160px !important; }
.card-thumbnail.card-157 { background-position: -160px -240px !important; }
.card-thumbnail.card-227 { background-position: -160px -320px !important; }
.card-thumbnail.card-277 { background-position: -160px -400px !important; }
.card-thumbnail.card-329 { background-position: -160px -480px !important; }
.card-thumbnail.card-424 { background-position: -160px -560px !important; }
.card-thumbnail.card-470 { background-position: -160px -640px !important; }
.card-thumbnail.card-504 { background-position: -160px -720px !important; }
.card-thumbnail.card-580 { background-position: -160px -800px !important; }
.card-thumbnail.card-40 { background-position: -240px -80px !important; }
.card-thumbnail.card-132 { background-position: -240px -160px !important; }
.card-thumbnail.card-187 { background-position: -240px -240px !important; }
.card-thumbnail.card-262 { background-position: -240px -320px !important; }
.card-thumbnail.card-307 { background-position: -240px -400px !important; }
.card-thumbnail.card-347 { background-position: -240px -480px !important; }
.card-thumbnail.card-407 { background-position: -240px -560px !important; }
.card-thumbnail.card-445 { background-position: -240px -640px !important; }
.card-thumbnail.card-523 { background-position: -240px -720px !important; }
.card-thumbnail.card-597 { background-position: -240px -800px !important; }
.card-thumbnail.card-44 { background-position: -320px -80px !important; }
.card-thumbnail.card-120 { background-position: -320px -160px !important; }
.card-thumbnail.card-169 { background-position: -320px -240px !important; }
.card-thumbnail.card-248 { background-position: -320px -320px !important; }
.card-thumbnail.card-302 { background-position: -320px -400px !important; }
.card-thumbnail.card-325 { background-position: -320px -480px !important; }
.card-thumbnail.card-380 { background-position: -320px -560px !important; }
.card-thumbnail.card-449 { background-position: -320px -640px !important; }
.card-thumbnail.card-490 { background-position: -320px -720px !important; }
.card-thumbnail.card-561 { background-position: -320px -800px !important; }
.card-thumbnail.card-56 { background-position: -400px -80px !important; }
.card-thumbnail.card-128 { background-position: -400px -160px !important; }
.card-thumbnail.card-149 { background-position: -400px -240px !important; }
.card-thumbnail.card-223 { background-position: -400px -320px !important; }
.card-thumbnail.card-295 { background-position: -400px -400px !important; }
.card-thumbnail.card-362 { background-position: -400px -480px !important; }
.card-thumbnail.card-393 { background-position: -400px -560px !important; }
.card-thumbnail.card-478 { background-position: -400px -640px !important; }
.card-thumbnail.card-519 { background-position: -400px -720px !important; }
.card-thumbnail.card-589 { background-position: -400px -800px !important; }
.card-thumbnail.card-48 { background-position: -480px -80px !important; }
.card-thumbnail.card-115 { background-position: -480px -160px !important; }
.card-thumbnail.card-178 { background-position: -480px -240px !important; }
.card-thumbnail.card-258 { background-position: -480px -320px !important; }
.card-thumbnail.card-319 { background-position: -480px -400px !important; }
.card-thumbnail.card-374 { background-position: -480px -480px !important; }
.card-thumbnail.card-389 { background-position: -480px -560px !important; }
.card-thumbnail.card-452 { background-position: -480px -640px !important; }
.card-thumbnail.card-508 { background-position: -480px -720px !important; }
.card-thumbnail.card-557 { background-position: -480px -800px !important; }
.card-thumbnail.card-52 { background-position: -560px -80px !important; }
.card-thumbnail.card-107 { background-position: -560px -160px !important; }
.card-thumbnail.card-195 { background-position: -560px -240px !important; }
.card-thumbnail.card-241 { background-position: -560px -320px !important; }
.card-thumbnail.card-281 { background-position: -560px -400px !important; }
.card-thumbnail.card-344 { background-position: -560px -480px !important; }
.card-thumbnail.card-422 { background-position: -560px -560px !important; }
.card-thumbnail.card-436 { background-position: -560px -640px !important; }
.card-thumbnail.card-547 { background-position: -560px -720px !important; }
.card-thumbnail.card-571 { background-position: -560px -800px !important; }
.card-thumbnail.card-68 { background-position: -640px -80px !important; }
.card-thumbnail.card-141 { background-position: -640px -160px !important; }
.card-thumbnail.card-181 { background-position: -640px -240px !important; }
.card-thumbnail.card-236 { background-position: -640px -320px !important; }
.card-thumbnail.card-287 { background-position: -640px -400px !important; }
.card-thumbnail.card-331 { background-position: -640px -480px !important; }
.card-thumbnail.card-398 { background-position: -640px -560px !important; }
.card-thumbnail.card-483 { background-position: -640px -640px !important; }
.card-thumbnail.card-532 { background-position: -640px -720px !important; }
.card-thumbnail.card-173 { background-position: 0px -80px !important; }
.card-thumbnail.card-215 { background-position: 0px -160px !important; }
.card-thumbnail.card-274 { background-position: 0px -240px !important; }
.card-thumbnail.card-338 { background-position: 0px -320px !important; }
.card-thumbnail.card-418 { background-position: 0px -400px !important; }
.card-thumbnail.card-454 { background-position: 0px -480px !important; }
.card-thumbnail.card-487 { background-position: 0px -560px !important; }
.card-thumbnail.card-543 { background-position: 0px -640px !important; }
.card-thumbnail.card-587 { background-position: 0px -720px !important; }
.card-thumbnail.card-167 { background-position: -80px -80px !important; }
.card-thumbnail.card-196 { background-position: -80px -160px !important; }
.card-thumbnail.card-254 { background-position: -80px -240px !important; }
.card-thumbnail.card-320 { background-position: -80px -320px !important; }
.card-thumbnail.card-375 { background-position: -80px -400px !important; }
.card-thumbnail.card-460 { background-position: -80px -480px !important; }
.card-thumbnail.card-493 { background-position: -80px -560px !important; }
.card-thumbnail.card-553 { background-position: -80px -640px !important; }
.card-thumbnail.card-152 { background-position: -160px -80px !important; }
.card-thumbnail.card-218 { background-position: -160px -160px !important; }
.card-thumbnail.card-280 { background-position: -160px -240px !important; }
.card-thumbnail.card-323 { background-position: -160px -320px !important; }
.card-thumbnail.card-399 { background-position: -160px -400px !important; }
.card-thumbnail.card-434 { background-position: -160px -480px !important; }
.card-thumbnail.card-522 { background-position: -160px -560px !important; }
.card-thumbnail.card-569 { background-position: -160px -640px !important; }
.card-thumbnail.card-356 { background-position: -240px -80px !important; }
.card-thumbnail.card-413 { background-position: -240px -160px !important; }
.card-thumbnail.card-477 { background-position: -240px -240px !important; }
.card-thumbnail.card-562 { background-position: -240px -320px !important; }
.card-thumbnail.card-160 { background-position: -320px -80px !important; }
.card-thumbnail.card-238 { background-position: -320px -160px !important; }
.card-thumbnail.card-293 { background-position: -320px -240px !important; }
.card-thumbnail.card-355 { background-position: -320px -320px !important; }
.card-thumbnail.card-384 { background-position: -320px -400px !important; }
.card-thumbnail.card-427 { background-position: -320px -480px !important; }
.card-thumbnail.card-472 { background-position: -320px -560px !important; }
.card-thumbnail.card-518 { background-position: -320px -640px !important; }
.card-thumbnail.card-146 { background-position: -400px -80px !important; }
.card-thumbnail.card-222 { background-position: -400px -160px !important; }
.card-thumbnail.card-290 { background-position: -400px -240px !important; }
.card-thumbnail.card-308 { background-position: -400px -320px !important; }
.card-thumbnail.card-361 { background-position: -400px -400px !important; }
.card-thumbnail.card-408 { background-position: -400px -480px !important; }
.card-thumbnail.card-496 { background-position: -400px -560px !important; }
.card-thumbnail.card-584 { background-position: -400px -640px !important; }
.card-thumbnail.card-177 { background-position: -480px -80px !important; }
.card-thumbnail.card-244 { background-position: -480px -160px !important; }
.card-thumbnail.card-298 { background-position: -480px -240px !important; }
.card-thumbnail.card-343 { background-position: -480px -320px !important; }
.card-thumbnail.card-402 { background-position: -480px -400px !important; }
.card-thumbnail.card-430 { background-position: -480px -480px !important; }
.card-thumbnail.card-480 { background-position: -480px -560px !important; }
.card-thumbnail.card-535 { background-position: -480px -640px !important; }
.card-thumbnail.card-595 { background-position: -560px -80px !important; }
.card-thumbnail.card-163 { background-position: -640px -80px !important; }
.card-thumbnail.card-185 { background-position: -640px -160px !important; }
.card-thumbnail.card-259 { background-position: -640px -240px !important; }
.card-thumbnail.card-315 { background-position: -640px -320px !important; }
.card-thumbnail.card-369 { background-position: -640px -400px !important; }
.card-thumbnail.card-448 { background-position: -640px -480px !important; }
.card-thumbnail.card-538 { background-position: -640px -560px !important; }
.card-thumbnail.card-182 { background-position: -720px -80px !important; }
.card-thumbnail.card-232 { background-position: -720px -160px !important; }
.card-thumbnail.card-269 { background-position: -720px -240px !important; }
.card-thumbnail.card-349 { background-position: -720px -320px !important; }
.card-thumbnail.card-381 { background-position: -720px -400px !important; }
.card-thumbnail.card-458 { background-position: -720px -480px !important; }
.card-thumbnail.card-511 { background-position: -720px -560px !important; }
.card-thumbnail.card-583 { background-position: -720px -640px !important; }
.card-thumbnail.card-129 { background-position: -800px -80px !important; }
.card-thumbnail.card-191 { background-position: -800px -160px !important; }
.card-thumbnail.card-250 { background-position: -800px -240px !important; }
.card-thumbnail.card-334 { background-position: -800px -320px !important; }
.card-thumbnail.card-388 { background-position: -800px -400px !important; }
.card-thumbnail.card-444 { background-position: -800px -480px !important; }
.card-thumbnail.card-498 { background-position: -800px -560px !important; }
.card-thumbnail.card-565 { background-position: -800px -640px !important; }
.card-thumbnail.card-579 { background-position: -880px -80px !important; }
