@media screen and (max-width: 1100px) {


#side-nav
{
	/*width: 200px;*/
}

#main-outer-wrapper
{
	background: url('/img/background-mobile.jpg') no-repeat center center fixed;
	background-size: cover;
}

#main-wrapper
{
	min-width: auto;
	margin: 0;
	background: transparent !important;
	box-shadow: none;
}

#main
{
	/*width: calc(100% - 200px);*/
}

#main-inner
{
	padding: 0;
}

.main-content
{
	background: transparent !important;
	padding: 0 1.2rem 1.2rem 1.2rem;
}

.main-content-inner
{
	
}

#side-nav li a
{
	background: #fff;
	border: 1px solid #AD8EED;
	border-right: 2px solid #481E9F;
	border-left: none;
	margin: 0 0 4px 0;
}

}

/*****************************************************************/

@media screen and (max-width: 900px) {

h1 { font-size: 18pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }
h5 { font-size: 11pt; }
h6 { font-size: 10pt; }

body.sidebar-open
{
	overflow: hidden !important;
}

#header
{
	transition: margin-top linear 100ms;
}

.header-hidden #header
{
	margin-top: -70px;
}

#header-inner
{
	padding: 0 0 1rem 0;
}

#header .desktop-header
{
	display: none;
}
#header .mobile-header
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#header .mobile-header h2
{
	font-size: 3.5vw;
}

#header .mobile-header .sidebar-toggle
{
	width: 4.6rem;
	height: 59px;
	font-size: 36px;
	padding: 0.5rem 1.4rem;
	cursor: pointer;
	text-align: center;
	color: #EDDBF8;
	transition: all ease-out 150ms;
	position: relative;
}
#header .mobile-header .sidebar-toggle.visible
{
	color: #FFFFFF;
	background: #301170;
	transition: all ease-out 60ms;
}
#header .mobile-header i.fa
{
	transition: all ease-out 150ms;
}
#header .mobile-header .innards
{
	position: absolute;
}
#header .mobile-header .sidebar-toggle.visible i.fa
{
	transform: rotate(90deg);
}
#header .mobile-header .sidebar-toggle.visible i.fa.fa-bars,
#header .mobile-header .sidebar-toggle.visible i.fa.fa-cog,
#header .mobile-header .sidebar-toggle i.fa.fa-times
{
	opacity: 0;
}
#header .mobile-header .sidebar-toggle i.fa.fa-bars,
#header .mobile-header .sidebar-toggle i.fa.fa-cog,
#header .mobile-header .sidebar-toggle.visible i.fa.fa-times
{
	opacity: 1;
}
#header .mobile-header .burger.sidebar-toggle i.fa.fa-times
{
	margin-left: 3px;
}
#header .mobile-header .settings.visible i.fa
{
	transform: rotate(-90deg);
}

#header .dev-build
{
	display: none;
}

#side-nav 
{
	float: left;
	position: fixed;
	width: 0%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999999;
}

#side-nav.sidebar-visible
{
	width: 100%;
}

#side-nav .nav-wrapper
{
	float: left;
	position: fixed;
	
	overflow-y: scroll;
	
	width: 80%;
	top: 60px;
	bottom: 0;
	left: 0;
	padding: 1rem;
	
	background: linear-gradient(to bottom, #fffe 70%, #aaae 100%);
	
	margin-left: -999px;
	transition: margin-left ease-in-out 160ms;
	
	border-right: 2px solid #481E9F;
	box-shadow: 6px 0 90px 60px #0007;
}

#side-nav .nav-wrapper.visible
{
	margin-left: 0;
}

#side-nav .nav-wrapper ul
{
	padding-bottom: 3rem;
}

#side-nav .settings-wrapper
{
	float: left;
	position: fixed;
	
	overflow-y: scroll;
	
	width: 80%;
	top: 60px;
	right: 0;
	padding: 1rem 1rem 2rem 1rem;
	
	background: linear-gradient(to bottom, #fffe 70%, #aaae 100%);
	
	box-shadow: -6px 0 90px 60px #0007;
	
	border-left: 2px solid #481E9F;
	border-bottom: 2px solid #481E9F;
	border-bottom-left-radius: 20px;
	
	margin-right: -999px;
	transition: margin-right ease-in-out 160ms;
}

#side-nav .settings-wrapper.visible
{
	margin-right: 0;
}

.pill-button .label
{
	height: 2.5rem;
}

.pill-button .inner
{
	
}

#side-nav li a
{
	background: #EFE6FF;
	border: 1px solid #AD8EED;
	border-right: 2px solid #481E9F;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#side-nav ul li.spacer
{
	margin: 6px 0;
	border-top: 1px solid #DED3F4;
}

.pill-button.changed .inner
{
	border-width: 2px;
	box-shadow: 0 0 1px 4px #fff9;
}
.source-selector.changed
{
	border: 2px solid #C0A2FF;
	box-shadow: 0 0 1px 4px #fff9;
}

#main-wrapper
{
	margin: 0;
	width: 100%;
}

#main
{
	width: 100%;
}

#main-outer-wrapper
{
	background: url('/img/background-mobile.jpg') no-repeat center center fixed;
	background-size: cover;
}

#main-wrapper
{
	background: transparent !important;
}

#main-inner
{
	padding: 0;
}

.main-content
{
	background: transparent !important;
	padding: 0 1.2rem 1.2rem 1.2rem;
}
/*****************************************************************/

.rotation-column-wrapper
{
	width: 100%;
	justify-content: center;
}

.page-selector
{
	transition: top linear 100ms, margin-top linear 100ms;
}

.header-hidden .page-selector
{
	top: 10px;
}
/*
.header-hidden .page-selector.stats-page-selector
{
	top: -200px;
}*/

.page-selector.stats-page-selector
{
	flex-flow: row nowrap;
	overflow-x: scroll;
}

.page-selector.stats-page-selector li
{
	min-width: auto !important;
	width: auto !important;
}

.page-selector.stats-page-selector li a
{
	width: 150px !important;
	font-size: 10pt;
	padding: 15px 12px;
}

.array-group
{
	justify-content: center;
	margin: 0;
}

.card-array
{
	margin: 0 0.5rem 1rem 0.5rem;
}

.card-array-inner
{
	width: calc(64px * 5);
	/*flex-flow: column wrap;*/
}

.card-array-row
{
	flex-flow: column nowrap;
}

#card-tooltip
{
	display: none;
}

.source-indicator
{
	transition: none !important;
}

.stats-category-group
{
	overflow-y: hidden !important;
	overflow-x: scroll !important;
}

.stats-category-group .stats-table
{
	min-width: 850px;
}

.stats-table .st-td.idol-identity
{
	
}

.stats-table .st-td.idol-identity .idol-icon
{
	float: left;
	position: absolute;
	margin: 1px 0 0 0;
	box-shadow: 2px 0 2px #0004;
	z-index: 199999;
}

.stats-table .st-td.idol-identity .idol-name
{
	margin-left: 36px;
}

/*****************************************************************/

#footer-top .footer-top-inner
{
	flex-flow: column nowrap;
}

#footer-top .footer-top-inner > div
{
	width: 100% !important;
	padding: 0.5rem 0;
}

#footer-bottom .details,
#footer-bottom .disclaimer
{
	padding: 0.25rem 1.5rem;
}

#footer-bottom .disclaimer
{
	text-align: justify-all;
	font-size: 8pt;
}

.show-mobile
{
	display: block !important;
}

.hide-mobile
{
	display: none !important;
}

}

/*****************************************************************/

@media screen and (max-width: 600px) {
	
#header .mobile-header h2
{
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
}

}
