*
{
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13pt;
	background: #1C0943;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	margin: 0;
	padding: 0 0 0.6rem 0;
}

h1 { font-size: 25pt; }
h2 { font-size: 22pt; }
h3 { font-size: 19pt; }
h4 { font-size: 16pt; }
h5 { font-size: 13pt; }
h6 { font-size: 10pt; }

p
{
	margin: 0;
	padding: 0 0 0.8rem 0;
}

ul
{
	margin: 0;
	padding: 0 0 1rem 1rem;
}

li
{
	margin: 4px 0;
}

ul.settings-keybinds li
{
	list-style: none;
}

ul.settings-keybinds b
{
	display: inline-block;
	min-width: 2rem;
	text-align: center;
	padding: 2px 5px;
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	font-size: 1rem;
	background: #481E9F;
	color: #fff;
	border-radius: 3px;
}

.settings-keybinds b:first-child
{
	margin-right: 0.4rem;
}

b
{
	font-weight: 700;
}

a:link, a:visited
{
	color: #7e15ef;
	font-weight: 700;
}

a:hover, a:active
{
	color: #f24040;
	text-decoration: none;
}

.pill-button
{
	display: flex;
	/*justify-content: center;*/
	cursor: pointer;
}

.pill-button .label
{
	height: 1.5rem;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 11pt;
	
	padding-top: 0.2rem;
	color: #fff;
	
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.pill-button .inner
{
	display: inline-block;
	position: relative;
	
	font-size: 0;
	
	width: 2.75rem;
	height: 1.5rem;
	margin: 0 1rem 0.5rem 0;
	
	background: #fff;
	border-radius: 16px;
	border: 2px solid #491186;
	
	transition: all ease-out 70ms;
}

.pill-button:last-child .inner
{
	margin-bottom: 0;
}

.pill-button.changed .inner
{
	box-shadow: 0 0 4px 2px #fff6;
}

.pill-button:hover .inner
{
	box-shadow: 0 0 0 4px #fff6;
}

.pill-button .inner-dot
{
	width: calc(1.5rem - 6px - 4px);
	height: calc(1.5rem - 6px - 4px);
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 9999px;
	background: #9076AF;
	transition: all ease-out 70ms;
}

.pill-button.active .inner-dot
{
	left: calc(2.75rem - 1.5rem + 3px);
	background: #491186;
}

#header
{
	height: 60px;
	
	padding: 0;
	margin: 0;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	z-index: 999999999;
	
	background: #502B9B;
	text-shadow: 0 2px 0 #1C0747;
	text-align: center;
	
	color: #fff;
	border-bottom: 1px solid #7B4CDB;
}

#header h1, #header h2, #header h3, #header h4
{
	padding: 0;
}

#header .desktop-header
{
	display: block;
}
#header .mobile-header
{
	display: none;
}

#header .dev-build
{
	float: left;
	position: absolute;
	top: 12px;
	left: 20px;
	width: 200px;
	background: #CFB8F9;
	color: #222;
	font-weight: 700;
	font-family: 'Montserrat';
	box-shadow: 0 0 4px #000a;
	padding: 7px 20px;
	border-radius: 4px;
	text-shadow: none;
}

#header-inner
{
	position: relative;
	padding: 1rem 1rem 0.8rem 1rem;
}

#header-inner h2
{
	padding: 0;
	margin: 0;
}

.header-right
{
	float: right;
	width: 300px;
	display: flex;
	justify-content: center;
}

#footer
{
	border-top: 1px solid #641DA7;
	background: #3A2468;
	text-shadow: 0 2px 0 #1C0747;
	color: #A69CBD;
	font-size: 10pt;
}

#footer-top
{
	padding: 1rem 1.5rem;
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12pt;
	text-align: center;
	
	color: #fff;
	background: #502B9B;
}

#footer-top .footer-top-inner
{
	max-width: 60vw;
	margin: 0 auto;
	display: flex;
}

#footer-bottom
{
	margin: 0;
	text-align: center;
	padding: 0.75rem 0;
}

#footer-bottom .details,
#footer-bottom .disclaimer
{
	padding: 0.25rem 0;
}

#footer-bottom .details .time-since-update
{
	display: inline-block;
	padding-left: 0.4rem;
}

#footer a:link, #footer a:visited
{
	color: #DACCF8;
	text-decoration: underline;
}

#footer a:hover, #footer a:active
{
	color: #EFE7FF;
	text-decoration: none;
	background: #9E75F0a0;
	text-shadow: none !important;
}

#side-nav
{
	width: 220px;
}

#side-nav .side-nav-inner
{
	top: 70px;
	position: sticky;
	padding-bottom: 1rem;
}

#side-nav ul
{
	margin: 0;
	padding: 0;
}

#side-nav ul li
{
	display: block;
	margin: 0 0 2px 0;
}

#side-nav ul li.spacer
{
	margin: 6px 0;
	border-top: 1px solid #C1B2E1;
}

#side-nav span.icon-32
{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#side-nav li a
{
	display: block;
	padding: 8px 18px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	font-weight: 700;
	text-decoration: none;
	text-shadow: none;
	
	color: #4214A1;
	background: #fff8;
	
	border-left: none;
	border-right: 2px solid #481E9F;
	
	transition: all linear 70ms;
}

#side-nav li a:hover
{
	cursor: pointer;
	color: #fff;
	background: #481E9F;
	border-right: none;
	border-left: 4px solid #6A3EC4;
}

#side-nav li a.active
{
	color: #fff;
	background: #8C65DB;
	border-right: none;
	border-left: 4px solid #B292F4;
}

#side-nav li a.active:hover
{
	color: #fff;
	background: #BA98FF;
}

#side-nav .settings
{
	/*min-height: 12rem;*/
	padding: 1rem 1.2rem;
	margin: 1rem 0.5rem 0 0.5rem;
	border-radius: 4px;
	background: #481E9F;
	position: relative;
}

#side-nav .settings .revert-button
{
	position: absolute;
	top: -8px;
	right: -8px;
	width: 40px;
	height: 40px;
	background: url('/img/revert.png') center center no-repeat #501DA4aa;
	background-size: 24px;
	filter: drop-shadow(0 1px 1px #000);
	border-radius: 3px;
	border: 1px solid #9869E6;
	transition: all ease-in-out 100ms;
	cursor: pointer;
	box-shadow: 0 3px 1px #000a;
}

#side-nav .settings .revert-button:hover
{
	background-color: #7B43D6aa;
	border-color: #D6C1F9;
}

#side-nav .settings .revert-button:active
{
	background-color: #A77AF0aa;
	top: -5px;
	box-shadow: 0 0 1px #0008;
}

.source-selector
{
	display: block;
	width: 100%;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 9pt;
	
	border: 1px solid #5E2BC7;
	border-radius: 0.25rem;
	
	text-align: center;
	
	padding: .375rem 2.25rem .375rem .75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	line-height: 1.5;
	color: #242129;
	
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 16px 12px;
	
	transition: border-color .075s ease-in-out, box-shadow .075s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	margin-bottom: 0.75rem;
}

.source-selector.changed
{
	border: 1px solid #9562FF;
	box-shadow: 0 0 2px 3px #fff6;
}

.source-selector:hover,
.source-selector:focus
{
	border: 1px solid #9562FF;
	box-shadow: 0 0 0 3px #fff6;
}

.source-highlighting-inactive .source-selector
{
	color: #78669E;
}

.source-highlighting-active .source-selector
{
	color: #5D2CC2;
}

.source-selector option
{
	font-weight: 700;
	color: #222;
}

#main-outer-wrapper
{
	min-height: calc(100vh - 150px - 60px);
	margin-top: 60px;
	background: url('/img/background.jpg') no-repeat center center fixed;
	background-size: cover;
}

#main-wrapper
{
	min-height: calc(100vh - 150px - 60px);
	
	display: flex;
	flex-flow: row nowrap;
	
	margin: 0 4vw 0 4vw;
	padding: 20px 0 0 0;
	
	width: auto;
	min-width: 1000px;
	color: #0c0c0c !important;
	
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
	
	background: #f5f5f5cc;
}

#main
{
	width: calc(100% - 220px);
}

#main-inner
{
	padding: 0 1.5rem 0 1.5rem;
}

.main-content
{
	background: #fffb;
	/*background: #222b;*/
	/*color: #fff;*/
	padding: 1.2rem;
	border-radius: 3px;
}

.main-content-inner
{
	max-width: 800px;
	line-height: 1.6em;
	text-align: justify;
}

.rotation-column-wrapper
{
	display: flex;
	flex-flow: row wrap;
}

.rotation-column-wrapper .rotation-column
{
	/*width: 100%;*/
	padding: 0 1.5rem 0 0;
	display: flex;
	flex-flow: column wrap;
}

.order-reversed .rotation-column-wrapper .rotation-column
{
	flex-direction: column-reverse;
}

.rotation-group
{
	width: calc(64px * 3 + 2px);
	margin: 0 0 1.5rem 0;
	box-shadow: 0 2px 2px #2226;
	background: #222;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.alt-view .rotation-column-wrapper
{
	flex-flow: column wrap;
}

.alt-view .rotation-column-wrapper .rotation-column
{
	flex-flow: row wrap;
}

.alt-view .rotation-group
{
	margin: 0 1.5rem 1.5rem 0;
}

.alt-view.order-reversed .rotation-column-wrapper .rotation-column
{
	flex-flow: row-reverse wrap-reverse;
	justify-content: left;
}

.alt-view.order-reversed .rotation-column-wrapper .rotation-column .rotation-group:first-child
{
	/*margin-right: 25%;*/
}

.rotation-group.nijigasaki
{
	width: calc(64px * 4 + 2px);
}

.rotation-group .rotation-title
{
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12pt;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid;
	border-bottom: none;
}

.rotation-group .rotation-title .set-index
{
	padding: 9px 0 9px 0;
}

.rotation-group .rotation-title .set-title
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 10pt;
	color: #fff;
	background: #000000b0;
	padding: 8px 12px;
	height: 3.2rem;
	overflow: hidden;
}

.rotation-group.muse .rotation-title
{
	background: #ff6d9f;
	color: #5c112b;
	border-color: #5c112b;
}

.rotation-group.aqours .rotation-title
{
	background: #58bff0;
	color: #062838;
	border-color: #062838;
}

.rotation-group.nijigasaki .rotation-title
{
	background: #f1c232;
	color: #352905;
	border-color: #352905;
}

.card-grid
{
	display: flex;
	flex-flow: row wrap;
	font-size: 0;
	border: 1px solid;
	border-top: none;
	background: #333;
}

.rotation-group.muse .card-grid
{
	border-color: #5c112b;
}

.rotation-group.aqours .card-grid
{
	border-color: #062838;
}

.rotation-group.nijigasaki .card-grid
{
	border-color: #352905;
}

.grid-icon-wrapper
{
	display: block;
	width: 64px;
	height: 64px;
}

.grid-icon
{
	display: block;
	width: 64px;
	height: 64px;
	outline: none;
	border: none;
	background: center center no-repeat;
	position: relative;
}

.grid-icon > a
{
	display: inline-block;
	width: 64px;
	height: 64px;
}

.grid-icon .card-thumbnail
{
	display: block;
	width: 80px;
	height: 80px;
	filter: brightness(0.94);
	box-shadow: 0 0 10px #0000;
	transform: scale(0.8) translate(-10px, -10px);
}

#card-tooltip
{
	visibility: hidden;
	
	position: absolute;
	
	float: left;
	top: -999px;
	left: -999px;
	z-index: 199999;
	
	font-size: 11pt;
	color: #222;
	
	background: #ffffffee;
	border: 1px solid #444d;
	border-radius: 4px;
	box-shadow: 0 0 5px #0006;
	
	pointer-events: none;
}

.hide-tooltips #card-tooltip
{
	display: none;
}

#card-tooltip .member-info
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	
	white-space: nowrap;
}

#card-tooltip .member-info .name
{
	text-shadow: 0 -1px 1px #000a, 0 2px 1px #000a;
}

#card-tooltip .member-info .card-info
{
	padding: 0 8px;
}

#card-tooltip .member-info .card-info .icon-32
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	background: center center no-repeat;
	background-size: 20px;
	filter: drop-shadow(0 1px 3px #0007);
}

#card-tooltip .card-details *
{
	white-space: nowrap;
}

#card-tooltip .card-details
{
	margin: 8px 10px;
}

#card-tooltip .card-details th
{
	text-align: left;
	font-weight: 700;
}

#card-tooltip .card-details .card-title td
{
	text-align: center !important;
	padding: 0 0 6px 0;
	border-bottom: 1px solid #ccc;
}

#card-tooltip .card-details .card-title td .normal,
#card-tooltip .card-details .card-title td .idolized
{
	font-weight: 700;
	padding: 0 5px;
}

#card-tooltip .card-details .card-title td .normal,
.use-idolized-thumbnails #card-tooltip .card-details .card-title td .idolized
{
	display: inline-block;
}

.use-idolized-thumbnails #card-tooltip .card-details .card-title td .normal,
#card-tooltip .card-details .card-title td .idolized
{
	display: none;
}

#card-tooltip .card-details tr:nth-child(2) > *
{
	padding: 6px 0 0 0;
}

#card-tooltip .card-details-missing
{
	padding: 8px 10px;
}

.source-indicator
{
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #0008;
	transition: background linear 60ms;
}

.source-highlight-0 .source-indicator,
.source-highlight-1 .source-indicator.source-1,
.source-highlight-2 .source-indicator.source-2,
.source-highlight-3 .source-indicator.source-3,
.source-highlight-5 .source-indicator.source-5,
.source-highlight-6 .source-indicator.source-6,
.source-highlight-7 .source-indicator.source-7,
.source-highlight-gacha .source-indicator.source-1,
.source-highlight-gacha .source-indicator.source-3,
.source-highlight-gacha .source-indicator.source-5,
.source-highlight-gacha .source-indicator.source-6,
.source-highlight-gacha .source-indicator.source-7,
.source-highlight-limited .source-indicator.source-6,
.source-highlight-limited .source-indicator.source-7
{
	background: transparent !important;
}

.no-js .source-indicator
{
	background: transparent !important;
}

.grid-icon .card-thumbnail:hover
{
	filter: brightness(1);
	float: left;
	position: relative;
	z-index: 9999;
	transform: scale(0.9) translate(-10px, -10px);
	box-shadow: 0 0 10px #0005, 0 0 5px 5px #0005;
}
/*
.grid-icon:hover > a
{
	display: inline-block;
	width: 80px;
	height: 80px;
}*/

:hover > .source-indicator
{
	background: transparent !important;
	transition: none;
}

.grid-icon.non-extant
{
	filter: grayscale(100%) brightness(0.6);
	position: relative;
}

.grid-icon.non-extant > div
{
	display: block;
	
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 46px 0 0 0;
	
	float: left;
	background: transparent;
	transition: background linear 60ms, color linear 60ms;
	
	font-size: 8pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 1px 4px #000;
	
	color: #fff;
	cursor: default;
	
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.source-highlighting-active .grid-icon.non-extant > div
{
	background: #0008;
	color: #aaa;
}

.array-group
{
	display: none;
	flex-flow: row wrap;
	margin: 0 0 1.5rem 2px;
}

.array-group.active,
.no-js .array-group
{
	display: flex;
}

.page-selector, 
.page-selector li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-selector
{
	display: flex;
	flex-flow: row wrap;
	top: 70px;
	position: sticky;
	padding: 0 0 10px 0;
	z-index: 999999;
}

.page-selector li
{
	display: block;
	min-width: 100px;
}

.page-selector li a
{
	display: block;
	padding: 12px 25px;
	margin: 2px 2px;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12pt;
	text-align: center;
	text-decoration: none;
	
	color: #481E9F;
	background: #fffe;
	
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom: 4px solid #481E9F;
	
	transition: all linear 70ms;
}

.page-selector li a:hover
{
	cursor: pointer;
	color: #fff;
	background: #481E9F;
	border-bottom: 4px solid #6A3EC4;
}

.page-selector li a.active
{
	cursor: pointer;
	color: #fff;
	background: #6C37D9;
	border-bottom: 4px solid #B292F4;
}

.page-selector li a.active:hover
{
	color: #fff;
	background: #BA98FF;
	border-bottom: 4px solid #936BE3;
}

.card-array
{
	margin: 0 1.5rem 1.5rem 0;
	border: 1px solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 0 2px 4px #3338;
}

.card-array-page
{
	display: none;
}

.card-array-inner
{
	display: flex;
	flex-flow: row wrap;
	width: calc(64px * 7);
}

.card-array-row
{
	display: flex;
	flex-flow: row nowrap;
}

.card-array-header-cell div
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-array-header-cell, .card-array-cell
{
	display: block;
	width: 64px;
	height: 64px;
}

/*.rotation-group .grid-icon,*/
.card-array .card-array-cell .grid-icon
{
	box-shadow: inset 1px 0 0 1px #aaa4 !important;
}

/***********************************************/

.stats-category-group
{
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 1rem;
}

.stats-category-group .stats-table
{
	/*width: 45vh;*/
	min-width: 750px;
	max-width: 1000px;
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px solid #aaa;
	box-shadow: 0 2px 2px #2225;
}

.stats-category-group.muse .stats-table .st-thead .st-th
{
	background: #FF97BB;
	color: #650325;
}

.stats-category-group.aqours .stats-table .st-thead .st-th
{
	background: #90DBFF;
	color: #073F59;
}

.stats-category-group.nijigasaki .stats-table .st-thead .st-th
{
	background: #FFDF7E;
	color: #624B07;
}

.stats-table
{
	display: flex;
	flex-flow: column wrap;
}

.stats-table .st-tbody
{
	display: flex;
	flex-flow: column wrap;
}

.order-reversed .stats-table .st-tbody.reversable
{
	flex-flow: column-reverse nowrap;
}

.stats-table .st-tr
{
	display: flex;
	flex-flow: row wrap;
	height: 38px;
	border-bottom: 1px solid #bbb6;
}

.stats-table .st-tr.st-thead
{
	height: 44px;
}

.stats-table .st-cell-7-5 { width: 7.5%; }
.stats-table .st-cell-15  { width: 15%; }
.stats-table .st-cell-20  { width: 20%; }
.stats-table .st-cell-25  { width: 25%; }
.stats-table .st-cell-30  { width: 30%; }
.stats-table .st-cell-35  { width: 35%; }
.stats-table .st-cell-40  { width: 40%; }
.stats-table .st-cell-45  { width: 45%; }
.stats-table .st-cell-50  { width: 50%; }
.stats-table .st-cell-55  { width: 55%; }
.stats-table .st-cell-60  { width: 60%; }
.stats-table .st-cell-65  { width: 65%; }
.stats-table .st-cell-70  { width: 70%; }
.stats-table .st-cell-75  { width: 75%; }

.stats-table .st-tbody .st-tr .st-th,
.stats-table .st-tbody .st-tr .st-td
{
	transition: background linear 50ms;
}

.stats-table .st-tbody .st-tr:nth-child(2n+1)
{
	background: #f8f8f866;
}

.stats-table .st-tbody .st-tr:nth-child(2n)
{
	background: #ddd6;
}

.stats-table .st-tbody .st-tr:hover
{
	background: #fff;
}

.stats-table .st-thead .st-th
{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12pt;
	padding-top: 0.8rem;
}

.stats-table .st-th,
.stats-table .st-td
{
	border-right: 1px solid #bbb6;
	padding: 0.4rem 0.8rem;
}

.stats-table .st-th
{
	border-color: #2222;
}

.stats-table .st-tr:last-child
{
	border-bottom: none;
}

.stats-table .st-td:last-child
{
	border-right: none;
}

.stats-table .st-td .flex-wrapper
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.stats-table .st-td.idol-identity
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 !important;
}

.stats-table .st-td.idol-identity .idol-icon
{
	display: block;
	width: 38px;
	min-width: 38px;
	height: 38px;
	min-height: 38px;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.stats-table .st-td.idol-identity .idol-name
{
	display: block;
	padding: 0 0.8rem;
}

.stats-table .st-td.card-details
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 !important;
}

.stats-table .st-td.card-details div.thumbnail
{
	display: block;
	width: 38px;
	height: 38px;
	padding: 0;
}

.stats-table .st-td.card-details div.thumbnail .thumbnail-wrapper
{
	width: 38px;
	height: 38px;
	position: relative;
}

.stats-table .st-td.card-details div.thumbnail:hover,
.stats-table .st-td.card-details div.thumbnail:hover .thumbnail-wrapper
{
	z-index: 99999;
}

.stats-table .st-td.card-details div.thumbnail .card-thumbnail
{
	display: inline-block;
	width: 80px;
	height: 80px;
	transform: translate(-21px, -21px) scale(0.475);
	z-index: 0;
}

.stats-table .st-td.card-details div.thumbnail:hover .card-thumbnail
{
	transform: scale(0.9) translate(-24px, -24px);
	box-shadow: 0 0 10px #0005, 0 0 5px 5px #0005;
	z-index: 9999;
}

.stats-table .st-td.card-details div.card-link
{
	width: 100%;
	display: block;
	padding: 0 0.8rem;
}

.stats-table .st-td.card-details div.card-link a
{
	width: 100%;
	display: inline-block;
	padding: 0.5rem 0;
}

.stats-table .st-td.card-details div.card-source
{
	display: block;
	font-family: 'Montserrat';
	color: #707070;
	font-weight: 700;
	font-size: 10pt;
	text-align: right;
	padding: 0 0.8rem 0 0;
	white-space: nowrap;
	/*margin-left: auto;*/
}

.stats-table .st-td.stat-number
{
	text-align: center;
}

.stats-table .st-td.stat-various 
{
	display: flex;
	align-items: center;
	padding: 0;
	text-align: center;
}

.stats-table .st-td.stat-various.has-none
{
	opacity: 0.5;
}

.stats-table .st-td.stat-various span.icon-32
{
	display: inline-block;
	width: 100%;
	padding: 2px 32px 0 2px;
	text-align: center;
	
	font-weight: 700;
	font-size: 11.5pt;
	
	background-position: 84% 52%;
	background-repeat: no-repeat;
	background-size: 20px;
	
	text-align: center;
	
	color: #fff;
}

/**************/

.work-in-progress
{
	background: #E0BBF5;
	border: 1px solid #D180FF;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	font-size: 90%;
	text-align: center;
	font-weight: 600;
	border-radius: 5px
}

.work-in-progress p
{
	padding: 0 0 0.5rem 0;
}
.work-in-progress p:last-child {
	padding: 0;
}

.show-mobile
{
	display: none;
}

.ng-cloak
{
	display: none !important;
}
