.using-normal-thumbnails   .card-thumbnail.group-1 { background: url('thumbnails/atlas_1_0_normal.png') no-repeat; }
.using-idolized-thumbnails .card-thumbnail.group-1 { background: url('thumbnails/atlas_1_0_idolized.png') no-repeat; }
.using-normal-thumbnails   .card-thumbnail.group-2 { background: url('thumbnails/atlas_2_0_normal.png') no-repeat; }
.using-idolized-thumbnails .card-thumbnail.group-2 { background: url('thumbnails/atlas_2_0_idolized.png') no-repeat; }
.using-normal-thumbnails   .card-thumbnail.group-3 { background: url('thumbnails/atlas_3_0_normal.png') no-repeat; }
.using-idolized-thumbnails .card-thumbnail.group-3 { background: url('thumbnails/atlas_3_0_idolized.png') no-repeat; }
.card-thumbnail.card-32 { background-position: 0px 0px !important; }
.card-thumbnail.card-117 { background-position: 0px -80px !important; }
.card-thumbnail.card-155 { background-position: 0px -160px !important; }
.card-thumbnail.card-199 { background-position: 0px -240px !important; }
.card-thumbnail.card-266 { background-position: 0px -320px !important; }
.card-thumbnail.card-316 { background-position: 0px -400px !important; }
.card-thumbnail.card-378 { background-position: 0px -480px !important; }
.card-thumbnail.card-431 { background-position: 0px -560px !important; }
.card-thumbnail.card-500 { background-position: 0px -640px !important; }
.card-thumbnail.card-590 { background-position: 0px -720px !important; }
.card-thumbnail.card-20 { background-position: -80px 0px !important; }
.card-thumbnail.card-137 { background-position: -80px -80px !important; }
.card-thumbnail.card-188 { background-position: -80px -160px !important; }
.card-thumbnail.card-240 { background-position: -80px -240px !important; }
.card-thumbnail.card-263 { background-position: -80px -320px !important; }
.card-thumbnail.card-326 { background-position: -80px -400px !important; }
.card-thumbnail.card-412 { background-position: -80px -480px !important; }
.card-thumbnail.card-442 { background-position: -80px -560px !important; }
.card-thumbnail.card-492 { background-position: -80px -640px !important; }
.card-thumbnail.card-559 { background-position: -80px -720px !important; }
.card-thumbnail.card-24 { background-position: -160px 0px !important; }
.card-thumbnail.card-127 { background-position: -160px -80px !important; }
.card-thumbnail.card-170 { background-position: -160px -160px !important; }
.card-thumbnail.card-220 { background-position: -160px -240px !important; }
.card-thumbnail.card-272 { background-position: -160px -320px !important; }
.card-thumbnail.card-352 { background-position: -160px -400px !important; }
.card-thumbnail.card-426 { background-position: -160px -480px !important; }
.card-thumbnail.card-463 { background-position: -160px -560px !important; }
.card-thumbnail.card-505 { background-position: -160px -640px !important; }
.card-thumbnail.card-554 { background-position: -160px -720px !important; }
.card-thumbnail.card-4 { background-position: -240px 0px !important; }
.card-thumbnail.card-102 { background-position: -240px -80px !important; }
.card-thumbnail.card-175 { background-position: -240px -160px !important; }
.card-thumbnail.card-251 { background-position: -240px -240px !important; }
.card-thumbnail.card-301 { background-position: -240px -320px !important; }
.card-thumbnail.card-341 { background-position: -240px -400px !important; }
.card-thumbnail.card-396 { background-position: -240px -480px !important; }
.card-thumbnail.card-440 { background-position: -240px -560px !important; }
.card-thumbnail.card-510 { background-position: -240px -640px !important; }
.card-thumbnail.card-566 { background-position: -240px -720px !important; }
.card-thumbnail.card-12 { background-position: -320px 0px !important; }
.card-thumbnail.card-100 { background-position: -320px -80px !important; }
.card-thumbnail.card-144 { background-position: -320px -160px !important; }
.card-thumbnail.card-214 { background-position: -320px -240px !important; }
.card-thumbnail.card-305 { background-position: -320px -320px !important; }
.card-thumbnail.card-359 { background-position: -320px -400px !important; }
.card-thumbnail.card-419 { background-position: -320px -480px !important; }
.card-thumbnail.card-486 { background-position: -320px -560px !important; }
.card-thumbnail.card-514 { background-position: -320px -640px !important; }
.card-thumbnail.card-572 { background-position: -320px -720px !important; }
.card-thumbnail.card-16 { background-position: -400px 0px !important; }
.card-thumbnail.card-112 { background-position: -400px -80px !important; }
.card-thumbnail.card-151 { background-position: -400px -160px !important; }
.card-thumbnail.card-226 { background-position: -400px -240px !important; }
.card-thumbnail.card-276 { background-position: -400px -320px !important; }
.card-thumbnail.card-333 { background-position: -400px -400px !important; }
.card-thumbnail.card-386 { background-position: -400px -480px !important; }
.card-thumbnail.card-455 { background-position: -400px -560px !important; }
.card-thumbnail.card-546 { background-position: -400px -640px !important; }
.card-thumbnail.card-28 { background-position: -480px 0px !important; }
.card-thumbnail.card-134 { background-position: -480px -80px !important; }
.card-thumbnail.card-193 { background-position: -480px -160px !important; }
.card-thumbnail.card-256 { background-position: -480px -240px !important; }
.card-thumbnail.card-311 { background-position: -480px -320px !important; }
.card-thumbnail.card-337 { background-position: -480px -400px !important; }
.card-thumbnail.card-367 { background-position: -480px -480px !important; }
.card-thumbnail.card-466 { background-position: -480px -560px !important; }
.card-thumbnail.card-516 { background-position: -480px -640px !important; }
.card-thumbnail.card-577 { background-position: -480px -720px !important; }
.card-thumbnail.card-8 { background-position: -560px 0px !important; }
.card-thumbnail.card-122 { background-position: -560px -80px !important; }
.card-thumbnail.card-159 { background-position: -560px -160px !important; }
.card-thumbnail.card-245 { background-position: -560px -240px !important; }
.card-thumbnail.card-289 { background-position: -560px -320px !important; }
.card-thumbnail.card-373 { background-position: -560px -400px !important; }
.card-thumbnail.card-405 { background-position: -560px -480px !important; }
.card-thumbnail.card-473 { background-position: -560px -560px !important; }
.card-thumbnail.card-534 { background-position: -560px -640px !important; }
.card-thumbnail.card-36 { background-position: -640px 0px !important; }
.card-thumbnail.card-139 { background-position: -640px -80px !important; }
.card-thumbnail.card-164 { background-position: -640px -160px !important; }
.card-thumbnail.card-233 { background-position: -640px -240px !important; }
.card-thumbnail.card-297 { background-position: -640px -320px !important; }
.card-thumbnail.card-365 { background-position: -640px -400px !important; }
.card-thumbnail.card-392 { background-position: -640px -480px !important; }
.card-thumbnail.card-437 { background-position: -640px -560px !important; }
.card-thumbnail.card-482 { background-position: -640px -640px !important; }
.card-thumbnail.card-540 { background-position: -640px -720px !important; }
.card-thumbnail.card-64 { background-position: 0px 0px !important; }
.card-thumbnail.card-124 { background-position: 0px -80px !important; }
.card-thumbnail.card-200 { background-position: 0px -160px !important; }
.card-thumbnail.card-230 { background-position: 0px -240px !important; }
.card-thumbnail.card-313 { background-position: 0px -320px !important; }
.card-thumbnail.card-370 { background-position: 0px -400px !important; }
.card-thumbnail.card-416 { background-position: 0px -480px !important; }
.card-thumbnail.card-467 { background-position: 0px -560px !important; }
.card-thumbnail.card-542 { background-position: 0px -640px !important; }
.card-thumbnail.card-575 { background-position: 0px -720px !important; }
.card-thumbnail.card-60 { background-position: -80px 0px !important; }
.card-thumbnail.card-105 { background-position: -80px -80px !important; }
.card-thumbnail.card-145 { background-position: -80px -160px !important; }
.card-thumbnail.card-212 { background-position: -80px -240px !important; }
.card-thumbnail.card-268 { background-position: -80px -320px !important; }
.card-thumbnail.card-351 { background-position: -80px -400px !important; }
.card-thumbnail.card-411 { background-position: -80px -480px !important; }
.card-thumbnail.card-462 { background-position: -80px -560px !important; }
.card-thumbnail.card-501 { background-position: -80px -640px !important; }
.card-thumbnail.card-551 { background-position: -80px -720px !important; }
.card-thumbnail.card-72 { background-position: -160px 0px !important; }
.card-thumbnail.card-109 { background-position: -160px -80px !important; }
.card-thumbnail.card-157 { background-position: -160px -160px !important; }
.card-thumbnail.card-227 { background-position: -160px -240px !important; }
.card-thumbnail.card-277 { background-position: -160px -320px !important; }
.card-thumbnail.card-329 { background-position: -160px -400px !important; }
.card-thumbnail.card-424 { background-position: -160px -480px !important; }
.card-thumbnail.card-470 { background-position: -160px -560px !important; }
.card-thumbnail.card-504 { background-position: -160px -640px !important; }
.card-thumbnail.card-580 { background-position: -160px -720px !important; }
.card-thumbnail.card-40 { background-position: -240px 0px !important; }
.card-thumbnail.card-132 { background-position: -240px -80px !important; }
.card-thumbnail.card-187 { background-position: -240px -160px !important; }
.card-thumbnail.card-262 { background-position: -240px -240px !important; }
.card-thumbnail.card-307 { background-position: -240px -320px !important; }
.card-thumbnail.card-347 { background-position: -240px -400px !important; }
.card-thumbnail.card-407 { background-position: -240px -480px !important; }
.card-thumbnail.card-445 { background-position: -240px -560px !important; }
.card-thumbnail.card-523 { background-position: -240px -640px !important; }
.card-thumbnail.card-44 { background-position: -320px 0px !important; }
.card-thumbnail.card-120 { background-position: -320px -80px !important; }
.card-thumbnail.card-169 { background-position: -320px -160px !important; }
.card-thumbnail.card-248 { background-position: -320px -240px !important; }
.card-thumbnail.card-302 { background-position: -320px -320px !important; }
.card-thumbnail.card-325 { background-position: -320px -400px !important; }
.card-thumbnail.card-380 { background-position: -320px -480px !important; }
.card-thumbnail.card-449 { background-position: -320px -560px !important; }
.card-thumbnail.card-490 { background-position: -320px -640px !important; }
.card-thumbnail.card-561 { background-position: -320px -720px !important; }
.card-thumbnail.card-56 { background-position: -400px 0px !important; }
.card-thumbnail.card-128 { background-position: -400px -80px !important; }
.card-thumbnail.card-149 { background-position: -400px -160px !important; }
.card-thumbnail.card-223 { background-position: -400px -240px !important; }
.card-thumbnail.card-295 { background-position: -400px -320px !important; }
.card-thumbnail.card-362 { background-position: -400px -400px !important; }
.card-thumbnail.card-393 { background-position: -400px -480px !important; }
.card-thumbnail.card-478 { background-position: -400px -560px !important; }
.card-thumbnail.card-519 { background-position: -400px -640px !important; }
.card-thumbnail.card-589 { background-position: -400px -720px !important; }
.card-thumbnail.card-48 { background-position: -480px 0px !important; }
.card-thumbnail.card-115 { background-position: -480px -80px !important; }
.card-thumbnail.card-178 { background-position: -480px -160px !important; }
.card-thumbnail.card-258 { background-position: -480px -240px !important; }
.card-thumbnail.card-319 { background-position: -480px -320px !important; }
.card-thumbnail.card-374 { background-position: -480px -400px !important; }
.card-thumbnail.card-389 { background-position: -480px -480px !important; }
.card-thumbnail.card-452 { background-position: -480px -560px !important; }
.card-thumbnail.card-508 { background-position: -480px -640px !important; }
.card-thumbnail.card-557 { background-position: -480px -720px !important; }
.card-thumbnail.card-52 { background-position: -560px 0px !important; }
.card-thumbnail.card-107 { background-position: -560px -80px !important; }
.card-thumbnail.card-195 { background-position: -560px -160px !important; }
.card-thumbnail.card-241 { background-position: -560px -240px !important; }
.card-thumbnail.card-281 { background-position: -560px -320px !important; }
.card-thumbnail.card-344 { background-position: -560px -400px !important; }
.card-thumbnail.card-422 { background-position: -560px -480px !important; }
.card-thumbnail.card-436 { background-position: -560px -560px !important; }
.card-thumbnail.card-547 { background-position: -560px -640px !important; }
.card-thumbnail.card-571 { background-position: -560px -720px !important; }
.card-thumbnail.card-68 { background-position: -640px 0px !important; }
.card-thumbnail.card-141 { background-position: -640px -80px !important; }
.card-thumbnail.card-181 { background-position: -640px -160px !important; }
.card-thumbnail.card-236 { background-position: -640px -240px !important; }
.card-thumbnail.card-287 { background-position: -640px -320px !important; }
.card-thumbnail.card-331 { background-position: -640px -400px !important; }
.card-thumbnail.card-398 { background-position: -640px -480px !important; }
.card-thumbnail.card-483 { background-position: -640px -560px !important; }
.card-thumbnail.card-532 { background-position: -640px -640px !important; }
.card-thumbnail.card-173 { background-position: 0px 0px !important; }
.card-thumbnail.card-215 { background-position: 0px -80px !important; }
.card-thumbnail.card-274 { background-position: 0px -160px !important; }
.card-thumbnail.card-338 { background-position: 0px -240px !important; }
.card-thumbnail.card-418 { background-position: 0px -320px !important; }
.card-thumbnail.card-454 { background-position: 0px -400px !important; }
.card-thumbnail.card-487 { background-position: 0px -480px !important; }
.card-thumbnail.card-543 { background-position: 0px -560px !important; }
.card-thumbnail.card-587 { background-position: 0px -640px !important; }
.card-thumbnail.card-167 { background-position: -80px 0px !important; }
.card-thumbnail.card-196 { background-position: -80px -80px !important; }
.card-thumbnail.card-254 { background-position: -80px -160px !important; }
.card-thumbnail.card-320 { background-position: -80px -240px !important; }
.card-thumbnail.card-375 { background-position: -80px -320px !important; }
.card-thumbnail.card-460 { background-position: -80px -400px !important; }
.card-thumbnail.card-493 { background-position: -80px -480px !important; }
.card-thumbnail.card-553 { background-position: -80px -560px !important; }
.card-thumbnail.card-152 { background-position: -160px 0px !important; }
.card-thumbnail.card-218 { background-position: -160px -80px !important; }
.card-thumbnail.card-280 { background-position: -160px -160px !important; }
.card-thumbnail.card-323 { background-position: -160px -240px !important; }
.card-thumbnail.card-399 { background-position: -160px -320px !important; }
.card-thumbnail.card-434 { background-position: -160px -400px !important; }
.card-thumbnail.card-522 { background-position: -160px -480px !important; }
.card-thumbnail.card-569 { background-position: -160px -560px !important; }
.card-thumbnail.card-356 { background-position: -240px 0px !important; }
.card-thumbnail.card-413 { background-position: -240px -80px !important; }
.card-thumbnail.card-477 { background-position: -240px -160px !important; }
.card-thumbnail.card-562 { background-position: -240px -240px !important; }
.card-thumbnail.card-160 { background-position: -320px 0px !important; }
.card-thumbnail.card-238 { background-position: -320px -80px !important; }
.card-thumbnail.card-293 { background-position: -320px -160px !important; }
.card-thumbnail.card-355 { background-position: -320px -240px !important; }
.card-thumbnail.card-384 { background-position: -320px -320px !important; }
.card-thumbnail.card-427 { background-position: -320px -400px !important; }
.card-thumbnail.card-472 { background-position: -320px -480px !important; }
.card-thumbnail.card-518 { background-position: -320px -560px !important; }
.card-thumbnail.card-146 { background-position: -400px 0px !important; }
.card-thumbnail.card-222 { background-position: -400px -80px !important; }
.card-thumbnail.card-290 { background-position: -400px -160px !important; }
.card-thumbnail.card-308 { background-position: -400px -240px !important; }
.card-thumbnail.card-361 { background-position: -400px -320px !important; }
.card-thumbnail.card-408 { background-position: -400px -400px !important; }
.card-thumbnail.card-496 { background-position: -400px -480px !important; }
.card-thumbnail.card-584 { background-position: -400px -560px !important; }
.card-thumbnail.card-177 { background-position: -480px 0px !important; }
.card-thumbnail.card-244 { background-position: -480px -80px !important; }
.card-thumbnail.card-298 { background-position: -480px -160px !important; }
.card-thumbnail.card-343 { background-position: -480px -240px !important; }
.card-thumbnail.card-402 { background-position: -480px -320px !important; }
.card-thumbnail.card-430 { background-position: -480px -400px !important; }
.card-thumbnail.card-480 { background-position: -480px -480px !important; }
.card-thumbnail.card-535 { background-position: -480px -560px !important; }
.card-thumbnail.card-163 { background-position: -640px 0px !important; }
.card-thumbnail.card-185 { background-position: -640px -80px !important; }
.card-thumbnail.card-259 { background-position: -640px -160px !important; }
.card-thumbnail.card-315 { background-position: -640px -240px !important; }
.card-thumbnail.card-369 { background-position: -640px -320px !important; }
.card-thumbnail.card-448 { background-position: -640px -400px !important; }
.card-thumbnail.card-538 { background-position: -640px -480px !important; }
.card-thumbnail.card-182 { background-position: -720px 0px !important; }
.card-thumbnail.card-232 { background-position: -720px -80px !important; }
.card-thumbnail.card-269 { background-position: -720px -160px !important; }
.card-thumbnail.card-349 { background-position: -720px -240px !important; }
.card-thumbnail.card-381 { background-position: -720px -320px !important; }
.card-thumbnail.card-458 { background-position: -720px -400px !important; }
.card-thumbnail.card-511 { background-position: -720px -480px !important; }
.card-thumbnail.card-583 { background-position: -720px -560px !important; }
.card-thumbnail.card-129 { background-position: -800px 0px !important; }
.card-thumbnail.card-191 { background-position: -800px -80px !important; }
.card-thumbnail.card-250 { background-position: -800px -160px !important; }
.card-thumbnail.card-334 { background-position: -800px -240px !important; }
.card-thumbnail.card-388 { background-position: -800px -320px !important; }
.card-thumbnail.card-444 { background-position: -800px -400px !important; }
.card-thumbnail.card-498 { background-position: -800px -480px !important; }
.card-thumbnail.card-565 { background-position: -800px -560px !important; }
.card-thumbnail.card-579 { background-position: -880px 0px !important; }
