*
{
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	background: url('backgrounds/background_xsdhor.jpg') no-repeat center center fixed #333;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
}

b
{
	font-weight: 700;
}

a:link, a:visited
{
	color: #7e15ef;
}

a:hover, a:active
{
	color: #f24040;
	text-decoration: none;
}

#header
{
	padding: 0;
	margin: 0;
	background: #502B9B;
	text-shadow: 0 2px 0 #1C0747;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #7B4CDB;
}

#header-inner
{
	padding: 1rem 1rem 0.8rem 1rem;
}

#header-inner h2
{
	padding: 0;
	margin: 0;
}

nav
{
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
}

nav ul
{
	display: flex;
	margin: 0;
	padding: 6px 0;
}

nav ul li
{
	display: block;
	margin: 0 2px;
	padding: 6px 18px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	font-weight: 700;
	color: #4214A1;
	background: #fff8;
	text-shadow: none;
	transition: all linear 40ms;
}

nav ul li:hover
{
	color: #fff;
	background: #481E9F;
	cursor: pointer;
}

#footer
{
	border-top: 1px solid #641DA7;
	background: #8364C3;
	text-shadow: 0 2px 0 #1C0747;
	color: #fff;
}

#footer-top
{
	background: #502B9B;
	color: #fff;
	margin: 0;
	padding: 1em 1.5em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	display: flex;
}

#footer-top > div
{
	width: 50%;
	font-size: 14pt;
}

#footer-bottom
{
	margin: 0;
	padding: 1em 1.5em;
	text-align: center;
}

#footer a:link, #footer a:visited
{
	color: #DACCF8;
	text-decoration: underline;
}

#footer a:hover, #footer a:active
{
	color: #EFE7FF;
	text-decoration: none;
	background: #9E75F0a0;
	text-shadow: none !important;
}

#main
{
	width: auto;
	min-width: 1000px;
	margin: 0 60px 0 60px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
	padding: 0;
	
	background: rgba(255, 255, 255, 0.8);
	color: #0c0c0c !important;
}

#views
{
	display: flex;
}

#views .view
{
	display: none;
}

#views .view.active
{
	display: block;
}

#column-wrapper
{
	display: flex;
}

.column
{
	padding: 1.5em;
}

.rotation-group
{
	width: calc(64px * 3 + 2px);
	margin: 0 0 1.5em 0;
	box-shadow: 0 2px 2px #2226;
}

.rotation-group.nijigasaki
{
	width: calc(64px * 4 + 2px);
}

.rotation-group .rotation-title
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12pt;
	text-align: center;
	padding: 7px 0 6px 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: inset 0 2px 9px #fff6;
	border: 1px solid;
	border-bottom: none;
}

.rotation-group.muse .rotation-title
{
	background: #ff6d9f;
	color: #5c112b;
	border-color: #5c112b;
}

.rotation-group.aqours .rotation-title
{
	background: #58bff0;
	color: #062838;
	border-color: #062838;
}

.rotation-group.nijigasaki .rotation-title
{
	background: #f1c232;
	color: #352905;
	border-color: #352905;
}

.rotation-group .rotation-grid
{
	display: flex;
	flex-flow: row wrap;
	font-size: 0;
	border: 1px solid;
	border-top: none;
	background: #333;
}

.rotation-group.muse .rotation-grid
{
	border-color: #5c112b;
}

.rotation-group.aqours .rotation-grid
{
	border-color: #062838;
}

.rotation-group.nijigasaki .rotation-grid
{
	border-color: #352905;
}

.rotation-grid .grid-icon
{
	display: block;
	width: 64px;
	height: 64px;
	outline: none;
	border: none;
	background: #222 center center no-repeat;
}

.using-normal-thumbnails   .grid-icon img.normal-thumbnail   { display: block; }
.using-normal-thumbnails   .grid-icon img.idolized-thumbnail { display: none;  }
.using-idolized-thumbnails .grid-icon img.normal-thumbnail   { display: none;  }
.using-idolized-thumbnails .grid-icon img.idolized-thumbnail { display: block; }

.rotation-grid .card-thumbnail
{
	display: block;
	width: 80px;
	height: 80px;
	filter: brightness(0.94);
	transition: all linear 50ms, box-shadow 0;
	box-shadow: 0 0 10px #0000;
	transform: scale(0.8) translate(-10px, -10px);
}

.rotation-grid .card-thumbnail:hover
{
	filter: brightness(1);
	float: left;
	position: relative;
	z-index: 99999;
	transform: scale(0.9) translate(-10px, -10px);
	box-shadow: 0 0 10px #0005, 0 0 5px 5px #0005;
}


.grid-icon.idol-1   { background-image: url('icons/32/icon_1.png'); background-color: #613c00; box-shadow: inset 0 0 6px 3px #f3980188; }
.grid-icon.idol-2   { background-image: url('icons/32/icon_2.png'); background-color: #0c495e; box-shadow: inset 0 0 6px 3px #1eb8ec88; }
.grid-icon.idol-3   { background-image: url('icons/32/icon_3.png'); background-color: #444544; box-shadow: inset 0 0 6px 3px #abadac88; }
.grid-icon.idol-4   { background-image: url('icons/32/icon_4.png'); background-color: #112d49; box-shadow: inset 0 0 6px 3px #2c72b788; }
.grid-icon.idol-5   { background-image: url('icons/32/icon_5.png'); background-color: #656000; box-shadow: inset 0 0 6px 3px #fef10288; }
.grid-icon.idol-6   { background-image: url('icons/32/icon_6.png'); background-color: #5d140d; box-shadow: inset 0 0 6px 3px #e9342188; }
.grid-icon.idol-7   { background-image: url('icons/32/icon_7.png'); background-color: #3a2541; box-shadow: inset 0 0 6px 3px #925da388; }
.grid-icon.idol-8   { background-image: url('icons/32/icon_8.png'); background-color: #0e4417; box-shadow: inset 0 0 6px 3px #23ac3a88; }
.grid-icon.idol-9   { background-image: url('icons/32/icon_9.png'); background-color: #5e2c3e; box-shadow: inset 0 0 6px 3px #ec6f9b88; }
.grid-icon.idol-101 { background-image: url('icons/32/icon_101.png'); background-color: #603300; box-shadow: inset 0 0 6px 3px #f2810088; }
.grid-icon.idol-102 { background-image: url('icons/32/icon_102.png'); background-color: #613e3b; box-shadow: inset 0 0 6px 3px #f39c9588; }
.grid-icon.idol-103 { background-image: url('icons/32/icon_103.png'); background-color: #274c45; box-shadow: inset 0 0 6px 3px #63c0ad88; }
.grid-icon.idol-104 { background-image: url('icons/32/icon_104.png'); background-color: #5c0008; box-shadow: inset 0 0 6px 3px #e7001488; }
.grid-icon.idol-105 { background-image: url('icons/32/icon_105.png'); background-color: #294459; box-shadow: inset 0 0 6px 3px #67aadf88; }
.grid-icon.idol-106 { background-image: url('icons/32/icon_106.png'); background-color: #3f3f3f; box-shadow: inset 0 0 6px 3px #9f9f9f88; }
.grid-icon.idol-107 { background-image: url('icons/32/icon_107.png'); background-color: #655a00; box-shadow: inset 0 0 6px 3px #fee20288; }
.grid-icon.idol-108 { background-image: url('icons/32/icon_108.png'); background-color: #282341; box-shadow: inset 0 0 6px 3px #6458a488; }
.grid-icon.idol-109 { background-image: url('icons/32/icon_109.png'); background-color: #5f2b42; box-shadow: inset 0 0 6px 3px #ee6da688; }
.grid-icon.idol-201 { background-image: url('icons/32/icon_201.png'); background-color: #603a3f; box-shadow: inset 0 0 6px 3px #f0939e88; }
.grid-icon.idol-202 { background-image: url('icons/32/icon_202.png'); background-color: #626028; box-shadow: inset 0 0 6px 3px #f7f06488; }
.grid-icon.idol-203 { background-image: url('icons/32/icon_203.png'); background-color: #334f5f; box-shadow: inset 0 0 6px 3px #81c6ef88; }
.grid-icon.idol-204 { background-image: url('icons/32/icon_204.png'); background-color: #01193d; box-shadow: inset 0 0 6px 3px #03409988; }
.grid-icon.idol-205 { background-image: url('icons/32/icon_205.png'); background-color: #5e2600; box-shadow: inset 0 0 6px 3px #eb600188; }
.grid-icon.idol-206 { background-image: url('icons/32/icon_206.png'); background-color: #4a384d; box-shadow: inset 0 0 6px 3px #ba8ec188; }
.grid-icon.idol-207 { background-image: url('icons/32/icon_207.png'); background-color: #571519; box-shadow: inset 0 0 6px 3px #da363f88; }
.grid-icon.idol-208 { background-image: url('icons/32/icon_208.png'); background-color: #2b4b26; box-shadow: inset 0 0 6px 3px #6cbd6188; }
.grid-icon.idol-209 { background-image: url('icons/32/icon_209.png'); background-color: #434443; box-shadow: inset 0 0 6px 3px #a8aaa988; }
.grid-icon.idol-210 { background-image: url('icons/32/icon_210.png'); background-color: #113f32; box-shadow: inset 0 0 6px 3px #2c9e7e88; }
.grid-icon.idol-211 { background-image: url('icons/32/icon_211.png'); background-color: #555550; box-shadow: inset 0 0 6px 3px #d6d5ca88; }
.grid-icon.idol-212 { background-image: url('icons/32/icon_212.png'); background-color: #63504e; box-shadow: inset 0 0 6px 3px #f8c8c488; }
.grid-icon.idol-301 { background-image: url('icons/32/icon_301.png'); background-color: #66320f; box-shadow: inset 0 0 6px 3px #ff7f2788; }
.grid-icon.idol-302 { background-image: url('icons/32/icon_302.png'); background-color: #406663; box-shadow: inset 0 0 6px 3px #a0fff988; }
.grid-icon.idol-303 { background-image: url('icons/32/icon_303.png'); background-color: #662c39; box-shadow: inset 0 0 6px 3px #ff6e9088; }
.grid-icon.idol-304 { background-image: url('icons/32/icon_304.png'); background-color: #2e6128; box-shadow: inset 0 0 6px 3px #74f46688; }
.grid-icon.idol-305 { background-image: url('icons/32/icon_305.png'); background-color: #000040; box-shadow: inset 0 0 6px 3px #0000a088; }

.grid-icon.non-extant { filter: grayscale(100%); opacity: 0.4; position: relative; }
.grid-icon.non-extant > div
{
	display: block;
	width: 100%;
	float: left;
	position: absolute;
	bottom: 6px;
	font-size: 8pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 4px #000;
	cursor: default;
}

.grid-icon.non-extant > div ::selection,
.grid-icon.non-extant > div ::-moz-selection
{
	background: transparent !important;
	color: inherit !important;
}
