<div class="card-tooltip-inner" ng-class="'idol-' + data.member_id">
	<div class="member-info idol-bg-color-dark idol-bg-glow-border">
		<div class="name">[[ data.member_name ]]</div>
		<div class="card-info" ng-if="data.card_status == 1">
			<span class="icon-32" ng-class="'rarity-' + data.card_rarity"></span>
			<span class="icon-32" ng-class="'attribute-' + data.card_attribute"></span>
			<span class="icon-32" ng-class="'type-' + data.card_type"></span>
		</div>
	</div>
	<table class="card-details" ng-if="data.card_status == 1">
		<colgroup>
			<col class="card-detail-label">
			<col class="card-detail-data">
		</colgroup>
		<tr class="card-title">
			<td colspan="2">
				&#12300;
				<span class="normal">[[ data.card_title_normal ]]</span>
				<span class="idolized">[[ data.card_title_idolized ]]</span>
				&#12301;
			</td>
		</tr>
		<tr class="spacer-top">
			<th>Source</th>
			<td>[[ data.card_source ]]</td>
		</tr>
		<tr ng-if="data.card_event">
			<th>Related Event</th>
			<td>[[ data.card_event ]]</td>
		</tr>
		<tr>
			<th>Release Date</th>
			<td>[[ data.card_release_date ]]</td>
		</tr>
		<tr class="card-kirara-link" ng-if="is_in_mobile_mode() && data.card_ordinal != undefined">
			<td colspan="2">
				<a href="https://allstars.kirara.ca/card/[[ data.card_ordinal ]]" target="_blank">
					<i class="fa fa-globe"></i> View on Kirara Database &raquo;
				</a>
			</td>
		</tr>
	</table>
	<div class="card-details card-missing" ng-if="data.card_status == 2">
		<b>[[ first_name ]]</b> has yet to receive a card in this cycle.
	</div>
	<div class="card-details card-missing" ng-if="data.card_status == 3">
		<b>[[ first_name ]]</b> did not receive a card in this cycle.
	</div>
</div>
