
@media screen and (hover: none) 
{
	
#timeline
{
	// overflow-x: scroll !important;
}

#timeline-container
{
	
	#timeline-indicator-line
	{
		width: 4px;
		margin-left: -2px;
		box-shadow: 0 0 4px 1px #fff5;
		background: #fff;
	}
	
	#timeline-date-highlight
	{
		background: #FFFFFF33;
		// box-shadow: 0 0 3px #fffa;
	}
	
}
	
}


body.mobile-mode #timeline-date-tooltip
{
	z-index: 999999;
	top: auto !important;
	left: 30px !important;
	right: 30px !important;
	bottom: 60px !important;
}


@media screen and (max-width: 900px),
       screen and (hover: none)
{
	
#timeline
{
	
	.timeline-entry
	{
		&.timeline-members
		{
			width: 50px;
			
			.idol-identity
			{
				justify-content: center;
				
				span.idol-icon
				{
					margin: 0;
				}
				
				span.idol-name
				{
					display: none;
				}	
			}
		}
		
		.header
		{
			position: sticky;
			
			&.primary
			{
				font-size: 0;
			}
		}
		
	}
	
}
	
}
