
@media screen and (hover: none) 
{
	
#timeline
{
	// overflow-x: scroll !important;
	
	// &:not(.no-scroll)
	// {
	// 	overflow-x: scroll !important;
	// }
	
	// &.no-scroll
	// {
	// 	overflow-x: hidden !important;
	// }
}

#timeline-container
{
	
	#timeline-indicator-line
	{
		width: 4px;
		margin-left: -2px;
		box-shadow: 0 0 4px 1px #fff5;
		background: #fff;
	}
	
	#timeline-date-highlight
	{
		background: #FFFFFF33;
		// box-shadow: 0 0 3px #fffa;
	}
	
}
	
}

/***********************************************************************************/

@media screen and (min-width: 901px)
{

body.mobile-mode #timeline-date-tooltip
{
	bottom: 60px !important;
	
	&.flipped
	{
		top: 80px !important;
		bottom: auto !important;
	}
}

}

/***********************************************************************************/

@media screen and (max-width: 900px)
{

body.mobile-mode #timeline-date-tooltip
{
	z-index: 999999;
	
	top: auto;
	left: 30px;
	right: 30px;
	bottom: 60px;
	
	&.hidden
	{
		bottom: -250px;
	}
	
	&.flipped
	{
		top: 20px;
		bottom: auto;
		
		&.hidden
		{
			top: -250px;
		}
	}
	
	
	box-shadow: 0 0 12px 4px #0005;
	
	border: 2px solid #fff;
	// background: linear-gradient(to bottom, #fafafae 0px, #ffffffc5 25px);
	backdrop-filter: blur(14px);
}

#timeline-container
{
	// width: 100vw;
	// margin-left: -1.2rem;
	padding: 0 0.3rem;
}


.timeline-scrollbar.scrollbar-bottom
{
	width: 100% !important;
	margin-left: 0 !important;
}

#timeline
{
	
	.timeline-entry
	{
		&.timeline-members
		{
			width: 50px;
			
			.idol-identity
			{
				justify-content: center;
				
				span.idol-icon
				{
					margin: 0;
				}
				
				span.idol-name
				{
					display: none;
				}	
			}
		}
		
		.header
		{
			position: sticky;
			
			&.primary
			{
				font-size: 0;
			}
		}
		
	}
	
}
	
}
