
<div class="array-wrapper">
	{% for group, num_pages, group_data in idol_arrays %}
		<ul class="page-selector array-group-page-selector" data-num-pages="{{ num_pages }}">
			{% for page_index in range(num_pages): %}
				<li>
					<a href="/{{ group.tag }}?page={{ page_index + 1 }}"
						ng-click="set_page({{ page_index + 1 }}, $event)" ng-class="page_active_class({{ page_index + 1 }})">
						Page {{ page_index + 1 }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<p>
			The number indicates how many of the same type-attribute pair the girl has. <b>Change pages to see them all.</b>
		</p>
		{% for page_index in range(num_pages): %}
			<div class="array-group {{ group.tag }}" ng-class="page_active_class({{ page_index + 1 }})">
				{% for member_id, card_array in group_data %}
					<div class="card-array idol-{{ member_id.value }}">
						<div class="card-array-inner">
							<div class="card-array-row">
								<div class="card-array-header-cell idol-bg-color">
									<div class="grid-icon idol-icon-48-border" title="{{ member_id.full_name }}"></div>
								</div>
								{% for attribute in Attribute %}
									<div class="card-array-header-cell idol-bg-color">
										<div class="grid-icon icon-48 attribute-{{ attribute.value }}" title="{{ attribute.name }}-attribute"></div>
									</div>
								{% endfor %}
							</div>
							{% for type in Type %}
								<div class="card-array-row">
									<div class="card-array-header-cell idol-bg-color">
										<div class="grid-icon icon-48 type-{{ type.value }}" title="{{ type.name }}-type"></div>
									</div>
									{% for attribute in Attribute %}
										{% set card = card_array[type][attribute][page_index] %}
										{% if card is defined %}
											<div class="card-array-cell idol-bg-color-dark">
												<div class="grid-icon tooltip-data"
													{{ include("tooltip_data_attributes.html", card=card, card_status=1) }}>
													<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank">
														<span class="{{ card_thumbnail_classes(card) }}">
															<span class="source-indicator source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
														</span>
													</a>
													{% if len(card_array[type][attribute]) > 1 %}
														<div class="multiple-cards-badge">
															{{ len(card_array[type][attribute]) }}
														</div>
													{% endif %}
												</div>
											</div>
										{% else %}
											<div class="card-array-cell idol-bg-color-dark">
												<div class="grid-icon missing"></div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}	
	{% endfor %}
		</div>
</div>
