<div class="main-content-inner-wide">
	<h2>Banner History</h2>
	<p>
		A list of gacha banners with their featured rate-up cards, excluding events and reruns.
		For the event gacha check <a href="/event_history">the event history page</a>.
	</p>
	<p>
		Initial cards of the release commemoration banner are not included on this page as this banner did not have featured rate-up cards.
	</p>
</div>

<p class="show-mobile show-narrow-1400"><b>Hint:</b> You can scroll the table horizontally if it doesn't fit on screen.</p>

<div class="page-settings-bar event-card-settings banner-settings">
	<label>
		Filter by Member <span class="hide-mobile">(E)</span>
	</label>
	<div member-select-box
		filter-index="filter_index"
		filter-member="filter_member"></div>
	<label for="filter-banner-types">
		By Type <span>(B)</span>
	</label>
	<select id="filter-banner-types" ng-model="filter_settings.banner">
		<option ng-value="-1">&mdash; Show All &mdash;</option>
		{% for banner_type in BannerType %}
			<option ng-value="{{ banner_type.value }}">{{ banner_type.name }}</option>
		{% endfor %}
	</select>
	<div pill-button model="filter_settings.highlight" keybind="H">
		Highlight selected member
	</div>
</div>

<div class="event-cards-group">
	<div class="stats-table event-cards-table banners-table">
		<div class="st-tr st-thead">
			<div class="st-th st-cell-banner-title">Gacha Banner</div>
			<div class="st-th st-cell-banner-cards">Featured Cards</div>
		</div>
		
		<div class="st-tbody reversable" ng-class="filterBannersClass()">
			{% for banner_id, banner_data in banners_with_cards %}
				{% set banner = banner_data['banner'] %}
				<div class="st-tr event-row {{ banner_data['idols'] }} gacha-banner banner-type-{{ banner['type'].value }}"
					deferred-load="banner_{{ banner_id }}"></div>
			{% endfor %}
		</div>
		{# {% for member in zero_feature_members %}			
			<div class="st-tr zero-event-row featured-idol-{{ member.value }}">
				<div class="st-td st-cell-100">
					{{ member.first_name }} has yet to be the featured member in an event
				</div>
			</div>
		{% endfor %} #}
	</div>
</div>
