{% set banner = banner_data['banner'] %}
<div class="st-td st-cell-banner-title event-details">
	<div class="event-title">
		<span class="banner-title-label" title="{{ banner['title_with_ordinal'] }}">
			<span class="index">{{ banner_row_index }}.</span>
			{% if banner['ordinal'] %}
				<span class="rotation-ordinal">{{ banner['ordinal'] }} rotation</span>
			{% endif %}
			{{ banner['title'] }}
		</span>
	</div>
	<div class="event-runtime">
		{% if banner['start'][Locale.JP] != banner['start'][Locale.WW]: %}
			<span class="event-runtime-label jp-ts">
				<img src="/img/emoji_flag_jp.png" class="locale-emoji" alt="JP" title="Using Japanese Dates">
				{{ banner['start'][Locale.JP] | format_datestring }} &mdash;
				{{ banner['end'][Locale.JP]   | format_datestring }} 
			</span>
			<span class="event-runtime-label ww-ts">
				<img src="/img/emoji_globe.png" class="locale-emoji" alt="WW" title="Using Global Dates">
				{{ banner['start'][Locale.WW] | format_datestring }} &mdash;
				{{ banner['end'][Locale.WW]   | format_datestring }} 
			</span>
		{% else: %}
			<span class="event-runtime-label">
				<span class="emoji-placeholder"></span>
				{{ banner['start'][Locale.JP] | format_datestring }} &mdash;
				{{ banner['end'][Locale.JP]   | format_datestring }}
			</span>
		{% endif %}
	</div>
</div>
<div class="st-td st-cell-banner-cards card-details">
	<div class="flex-wrapper">
		{% for card in banner_data['cards']: %}
			<div class="thumbnail tooltip-data"
				{{ include("tooltip_data_attributes.html", card=card, card_status=1) }}>
				<div class="thumbnail-wrapper">
					<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank" class="{{ card_thumbnail_classes(card) }}">
						<span class="source-indicator idol-{{ card.member_id.value }} source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
					</a>
				</div>
			</div>
		{% endfor %}
		{% if banner_data['num_others'] > 0: %}
			<div class="num-others" title="{{ banner_data['num_others'] }} other cards on this banner weren't new.">
				+ {{ banner_data['num_others'] }} more
			</div>
		{% endif %}
	</div>
</div>
