<h1>{{ page_title }}</h1>
<p class="rotation-description">{{ page_description }}</p>
<div class="rotation-column-wrapper">
	{% for group, group_data in grouped_rotations %}
		<div class="rotation-column">
			{% for rotation_index, card_rotation, rotation_title in group_data: %}
				<div class="rotation-group {{ group.tag }}">
					<div class="rotation-title">
						<div class="set-index">
							{{ (rotation_index + 1) | ordinalize }} {{ group.display_name }} {{ set_label if set_label else 'Rotation' }}
						</div>
						{% if rotation_title %}
							<div class="set-title">
								<span>{{ rotation_title }}</span>
							</div>
						{% endif %}
					</div>
					<div class="card-grid-deferred" deferred-load="{{ rotation_set_label }}_{{ group.tag }}_{{ rotation_index }}">
						
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>
