<div class="main-content-inner-wide">
	<h2>Event History</h2>
	<p>
		A list of events with the event runtime, the featured girl and the associated cards. For non-event gacha banners check <a href="/banners">the gacha banners page</a>.
	</p>
	<p>
		An estimated date of addition to SBL shop is also present for applicable events, assuming the rate of one event added per SBL round.
	</p>
</div>

<p class="show-mobile show-narrow-1400"><b>Hint:</b> You can scroll the table horizontally if it doesn't fit on screen.</p>

<div class="page-settings-bar event-card-settings">
	<label>
		Filter by Member <span class="hide-mobile">(E)</span>
	</label>
	<div member-select-box
		filter-index="filter_index"
		filter-member="filter_member"></div>
	<div pill-button model="filter_settings.featured_only" keybind="F">
		Apply filter to featured member
	</div>
	<div pill-button model="filter_settings.highlight" keybind="H">
		Highlight selected member
	</div>
</div>

<div class="event-cards-group">
	<div class="stats-table event-cards-table">
		<div class="st-tr st-thead">
			<div class="st-th st-cell-event-title">Event</div>
			<div class="st-th st-cell-event-featured">Featured</div>
			<div class="st-th st-cell-event-cards">Free Cards</div>
			<div class="st-th st-cell-event-cards">Gacha Cards</div>
		</div>
		
		<div class="st-tbody reversable" ng-class="filterEventsClass()">
			{% for event_id, event_data in events_with_cards %}
				<div class="st-tr event-row {{ event_data['idols'] }}" deferred-load="event_history_{{ event_id }}"></div>
			{% endfor %}
			{% for member in zero_feature_members %}			
				<div class="st-tr zero-event-row featured-idol-{{ member.value }}">
					<div class="st-td st-cell-100">
						{{ member.first_name }} has yet to be the featured member in an event
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
