<div class="main-content-inner-wide">

	<h1>Card History</h1>
	<p>
		In this history view, you can browse the cards of a specific girl sorted by the original release date. The table shows the time elapsed since each card was released, as well as the time between the release of each card in the same category. This can give you an idea of how regularly the girl has received new cards in the past.
	</p>
	
</div>

<div class="history-group-wrapper">

	{% for group in Group %}
		<div class="history-group group-{{ group.tag }}">
			<h2>{{ group.display_name }} Members</h2>
			
			<div class="history-group-table">
				{% for member in Idols.by_group[group]: %}
					<div class="cell idol-{{ member.member_id.value }}">
						<a href="#/history/{{ member.first_name.lower() }}"
							class="idol-bg-color-dim bg-color-highlight-hover idol-bg-glow-faint">
							<span class="idol-icon idol-icon-32-border"></span>
							<span class="idol-name">
								{{ member.first_name }}
							</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}

</div>
