<div class="main-content-inner-wide">
	<h1>Welcome!</h1>
	<hr>
	<p>
		The website hosts automatically created card rotation charts and statistics for the cards from <a href="https://lovelive-as-global.com/" target="_blank">Love Live SIF All Stars</a>, updated daily. These charts can help you figure out which girl is most likely to receive a card next based on statistics like how many cards are remaining in the current rotation and how long it's been since their last card.
	</p>
	<p>
		Of course keep in mind that the developers are bound by no rule when it comes to adding new content, something that is decidedly evident when it comes to events. The site can at most serve you to make educated guesses.
	</p>
	<p>
		Card and event data is retrieved from <a href="https://allstars.kirara.ca/" target="_blank">Kirara All Stars Card Database</a>. They automatically scrape new card and event data which can mean that sometimes the data on their site, and consequently this one, can be incorrect or out of date as a result. A best effort is made and corrections will be made promptly.
	</p>
	<p>
		Card release and event timestamps can be toggled between the original Japanese server releases and Global version dates, before acceleration ended. Check the "Use Global Dates" toggle in the settings.
	</p>
	<p>
		If you have feedback, suggestions or error reports regarding this website you can <a href="https://forms.gle/sMK7KSmXDsgmHrvH9" target="_blank" rel="noreferrer noopener">send feedback</a>.
	</p>
	<div class="newest-updates">
		<div class="updates-title">
			Newest Updates
		</div>
		<div class="updates-content">
			<h4>Previous Card Elapsed Time on Tooltips</h4>
			<div class="news-entry">
				<p>
					Applicable card rotation pages now display the number of days elapsed since the previous card was released in the tooltips on hover (desktop) or on tap (mobile).
				</p>
				<p>
					This is a nice little quality of life update to save a trip to the card history section .
				</p>
			</div>
			<hr>
			<h4>Member Selection with a Keyboard</h4>
			<div class="news-entry">
				<p>
					Good news for those visitors with a physical keyboard: the member selection boxes event history and banner history now accept keyboard inputs giving you a quicker way to select the girl whose history you're interested in.
				</p>
				<p>
					Pressing the Enter-key will now open the selection box and once it is open you can start typing a name. The full name is matched against alongside some common, less common and completely made-up aliases. See if you can figure some out. Once you have a match you can press Enter-key again to select the first highlighted girl in the list.
				</p>
			</div>
			<hr>
			<h4>The Timeline is Here!</h4>
			<div class="news-entry">
				<p>
					At long last, the timeline is ready for public release!
				</p>
				<p>
					The timeline features a full release history of all cards, events and banners from the game launch up until today and displays the relative release dates of all cards. You can view the timeline with both the original Japanese dates and the global dates, and swapping between the two from site settings will keep roughly equivalent position in terms of card releases.
				</p>
				<p>
					For the best experience, using the timeline on a more powerful device with a large screen (e.g. desktop PC) is strongly recommended, as it is rather heavy especially on low performance mobile devices.
				</p>
				<p>
					As always bug reports are welcome!
				</p>
			</div>
		</div>
	</div>
	<h2>Getting started</h2>
	<hr>
	<div class="hide-mobile">
		<p>
			Just navigate to any of the categories in the navigation bar on the left.
		</p>
		<p>
			Note that you can also operate some settings by keybindings:
		</p>
		<ul class="hide-mobile settings-keybinds">
			<li class="keybind-header">General</li>
			<li><b>Q</b> Switches between idolized and normal card icons.</li>
			<li><b>W</b> Reverses the order of lists.</li>
			<li><b>D</b> Switches between Japan server and global card release, event and banner dates.</li>
			<li><b>S</b> Cycles to the next source highlight option. Use with the <b>Shift key</b> to go backwards.</li>
			<li><b>R</b> Resets current source highlighting.</li>
			
			<li><b>T</b> Toggles the tooltip visibility.</li>
			<li><b>Number keys</b> Changes the active sub-page when applicable.</li>
			
			<li class="keybind-header">Card Stats</li>
			<li><b>C</b> Collapses stats table groups, displaying all members in a single table instead.</li>
			<li><b>H</b> Hides rows for members that have not yet received a card in the viewed category.</li>
			
			<li class="keybind-header">Event and Banner History</li>
			<li><b>E</b> Cycles to the next filtered member. Use with the <b>Shift key</b> to go backwards.</li>
			<li><b>H</b> Highlights cards of the filtered member. Overrides the default highlighting setting.</li>
			<li><b>Enter</b> Opens and closes the member selection box. When open you can type in a name of any girl you wish to quick select.</li>
			<li>
				<ul>
					<li class="keybind-subpage-header">Only on Event History</li>
					<li><b>F</b> Displays only events with the featured member being the one currently selected.</li>
					<li class="keybind-subpage-header">Only on Banner History</li>
					<li><b>B</b> Cycles to the next filtered banner.  Use with the <b>Shift key</b> to go backwards.</li>
				</ul>
			</li>
			<li><b>R</b> In addition to the default, will also reset options mentioned above when viewing the event or banner history.</li>
			
			<li class="keybind-header">Timeline</li>
			<li><b>E</b> Toggles visiblity of event runtime highlighting in the timeline.</li>
			<li><b>B</b> Toggles visiblity of banner runtime highlighting in the timeline.</li>
			<li><b>F</b> Cycles between the timeline displaying all cards, only URs or only SRs.</li>
			<li><b>R</b> In addition to the default, will also reset options mentioned above when viewing the timeline.</li>
		</ul>
	</div>
	<div class="show-mobile">
		<p>
			Just navigate to any of the categories in the navigation available by tapping the bars icon in the top bar.
		</p>
		<p>
			Some site settings can be modified from the settings menu available by tapping the cog icon.
		</p>
	</div>
</div>
