
<div class="member-select-backdrop" ng-click="toggleSelectBox()" ng-if="select_box_options_opened"></div>

<div class="member-select-current" ng-click="toggleSelectBox()">
	<div class="idol-details" ng-if="current_member === false && !select_box_options_opened">
		<span class="default-option">
			&mdash; Show All &mdash;
		</span>
	</div>
	<div class="idol-details" ng-if="select_box_options_opened">
		<span class="default-option">
			[[ current_kb_search ]]<span class="blinking-cursor"></span>
			<span class="placeholder" ng-if="current_kb_search.length == 0">Type a name...</span>
		</span>
	</div>
	<div class="idol-details idol-[[ current_member.id ]]" ng-if="current_member !== false && !select_box_options_opened">
		<span class="idol-icon idol-icon-32-border idol-bg-color-dim"></span>
		<span class="idol-name">
			[[ current_member.full_name ]]
		</span>
	</div>
</div>

<div class="member-select-options" ng-class="selectBoxOptionsClass()">
	<div class="member-select-option default-option"
		ng-class="optionSelectedClass(-1)" ng-click="chooseSelectOption(-1)">
		&mdash; Show All &mdash;
	</div>
	<ul ng-class="highlightSearchMatches()">
		{% for group in Group %}
			<li class="member-select-group">
				<span class="group-title">
					{{ group.display_name }}
				</span>
				<ol>
					{% for idol in Idols.by_group[group] %}
						<li class="member-select-option idol-{{ idol.member_id.value }}"
						    ng-class="optionSelectedClass({{ idol.member_id.value }})"
						    ng-click="chooseSelectOption({{ idol.member_id.value }})">
							<span class="idol-icon idol-icon-32-border idol-bg-color-dim"></span>
							<span class="idol-name">
								{{ idol.member_id.full_name }}
							</span>
						</li>
					{% endfor %}
				</ol>
			</li>
		{% endfor %}
	</ul>
</div>
