<ul class="side-nav-ul" ng-controller="NavController">
	<li><a href="#/"              ng-class="classActive('/')">Home</a></li>
	<li class="spacer"></li>
	<li><a href="#/ur-rotations"  ng-class="classActive('/ur-rotations')">UR Rotations</a></li>
	<li><a href="#/sr-sets"       ng-class="classActive('/sr-sets')">SR Sets</a></li>
	<li class="spacer"></li>
	<li><a href="#/festival"      ng-class="classActive('/festival')">Festival Rotations</a></li>
	<li><a href="#/party"         ng-class="classActive('/party')">Party Rotations</a></li>
	<li><a href="#/events"        ng-class="classActive('/events')">Event Rotations</a></li>
	<li class="spacer"></li>
	<li><a href="#/muse"          ng-class="classActive('/muse')">µ's Cards</a></li>
	<li><a href="#/aqours"        ng-class="classActive('/aqours')">Aqours Cards</a></li>
	<li><a href="#/nijigasaki"    ng-class="classActive('/nijigasaki')">Nijigasaki Cards</a></li>
	<li class="spacer"></li>
	<li><a href="#/event_history" ng-class="classActive('/event_history')">Event History</a></li>
	<li><a href="#/banners"       ng-class="classActive('/banners')">Gacha Banners</a></li>
	<li><a href="#/stats"         ng-class="classActive('/stats')">Card Stats</a></li>
	<li><a href="#/history"       ng-class="classActive('/history')">Card History</a></li>
	{# <li class="spacer"></li> #}
	{# <li><a href="#/timeline/[[ settings.global_dates ? 'ww' : 'jp' ]]" ng-class="classActive('/timeline')">Timeline <span class="new-tag">[NEW]</span></a></li> #}
	{# <span class="new-tag">[NEW]</span> #}
</ul>
