<div class="main-content-inner">
	<h1>Welcome!</h1>
	<p>
		The website hosts automatically created card rotation charts and statistics for the cards from <a href="https://lovelive-as-global.com/" target="_blank">Love Live SIF All Stars</a>, updated daily. These charts can help you figure out which girl is most likely to receive a card next based on statistics like how many cards are remaining in the current rotation and how long it's been since their last card.
	</p>
	<p>
		<b>Unfortunately this site does not function without Javascript enabled.</b> I know Javascript sucks, yeah.
	</p>
	<p>
		That said, this site does not and will never have any ads, trackers or other nasty crawlies so you can safely enable scripts if you're feeling brave.
	</p>
</div>
