<ul class="page-selector stats-page-selector">
	<li><a href="#/stats/general"     ng-class="pageActive('general')">General</a></li>
	<li><a href="#/stats/overdueness" ng-class="pageActive('overdueness')">Overdueness</a></li>
	<li><a href="#/stats/event"       ng-class="pageActive('event')">Event UR</a></li>
	<li><a href="#/stats/festival"    ng-class="pageActive('festival')">Festival</a></li>
	<li><a href="#/stats/party"       ng-class="pageActive('party')">Party</a></li>
	<li><a href="#/stats/limited"     ng-class="pageActive('limited')">Limited</a></li>
	<li><a href="#/stats/spotlight"   ng-class="pageActive('spotlight')">Party + Spotlight</a></li>
	<li><a href="#/stats/nonlimited"  ng-class="pageActive('nonlimited')">Non-Limited</a></li>
	<li><a href="#/stats/gacha"       ng-class="pageActive('gacha')">Any Gacha</a></li>
	<li><a href="#/stats/ur"          ng-class="pageActive('ur')">Any UR</a></li>
	<li><a href="#/stats/sr"          ng-class="pageActive('sr')">Any SR</a></li>
	<li><a href="#/stats/all"         ng-class="pageActive('all')">All</a></li>
</ul>
