
<div class="array-wrapper">
	{% for group, num_pages, group_data in idol_arrays %}
		<ul class="page-selector array-group-page-selector" data-num-pages="{{ num_pages }}">
			{% for page_index in range(num_pages): %}
				<li>
					<a href="#/{{ group.tag }}/{{ page_index }}" ng-class="pageActive({{ page_index }})">
						Page {{ page_index + 1 }}
					</a>
				</li>
			{% endfor %}
		</ul>
		{# <p>
			A map view of {{ group.display_name }} idols, organized by attributes against types.
		</p> #}
		{% for page_index in range(num_pages): %}
			<div class="array-group {{ group.tag }}" ng-class="pageActive({{ page_index }})">
				{% for member_id, card_array in group_data %}
					<div class="card-array idol-{{ member_id.value }}">
						<div class="card-array-inner">
							<div class="card-array-row">
								<div class="card-array-header-cell idol-bg-color">
									<div class="grid-icon idol-icon-48-border" title="{{ member_id.full_name }}"></div>
								</div>
								{% for attribute in Attribute %}
									<div class="card-array-header-cell idol-bg-color">
										<div class="grid-icon icon-48 attribute-{{ attribute.value }}" title="{{ attribute.name }}-attribute"></div>
									</div>
								{% endfor %}
							</div>
							{% for type in Type %}
								<div class="card-array-row">
									<div class="card-array-header-cell idol-bg-color">
										<div class="grid-icon icon-48 type-{{ type.value }}" title="{{ type.name }}-type"></div>
									</div>
									{% for attribute in Attribute %}
										{% set card = card_array[type][attribute][page_index] %}
										{% if card %}
											<div class="card-array-cell idol-bg-color-dark">
												<div class="grid-icon tooltip-data"
													data-member-id="{{ member_id.value }}"
													data-member-name="{{ member_id.full_name }}"
													data-card-attribute="{{ card.attribute.value }}"
													data-card-type="{{ card.type.value }}"
													data-card-title-normal="{{ card.get_card_name(False) | e }}"
													data-card-title-idolized="{{ card.get_card_name(True) | e }}"
													data-card-source="{{ get_card_source_label(card) }}"
													data-card-release-date="{{ card.release_date.strftime('%d %B %Y') }}"
													data-card-event="{{ card.event_title or '' | e }}"
													ng-mouseover="toggleTooltip($event, true)"
													ng-mouseleave="toggleTooltip($event, false)">
													<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank">
														<span class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }} card-{{ card.ordinal }}">
															<span class="source-indicator source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
														</span>
													</a>
												</div>
											</div>
										{% else %}
											<div class="card-array-cell idol-bg-color-dark">
												<div class="grid-icon missing"></div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}	
	{% endfor %}
</div>
