{% set event = event_data['event'] %}
{% set member = event_data['free'][0].member_id %}
<div class="st-td st-cell-event-title event-details">
	<div class="event-title">
		<span class="event-title-label" ellipsis-bullshit=".event-title" title="{{ event['title'] | e }}">
			<span>{{ event_row_index }}.</span> {{ event['title'] | e }}
		</span>
		<span class="event-title-type">
			({{ event['type'].name }})
		</span>
	</div>
	<div class="event-runtime">
		<span class="event-runtime-label">
			{{ event['start'] }} &mdash; {{ event['end'] }}
		</span>
		{% if event_data['sbl']: %}
			<span class="sbl-addition">
				(SBL {{ event_data['sbl'] }})
			</span>
		{% endif %}
	</div>
</div>
<div class="st-td st-cell-event-featured event-featured idol-identity idol-{{ member.value }}">
	<div class="idol-icon idol-icon-32-border idol-bg-color-dim"></div>
	<div class="idol-name">{{ member.first_name }}</div>
</div>
<div class="st-td st-cell-event-cards card-details">
	<div class="flex-wrapper">
		{% for card in event_data['free']: %}
			<div class="thumbnail tooltip-data"
					data-member-id="{{ card.member_id.value }}"
					data-member-name="{{ card.member_id.full_name }}"
					data-card-status="1"
					data-card-ordinal="{{ card.ordinal }}"
					data-card-rarity="{{ card.rarity.value }}"
					data-card-attribute="{{ card.attribute.value }}"
					data-card-type="{{ card.type.value }}"
					data-card-title-normal="{{ card.get_card_name(False) | e }}"
					data-card-title-idolized="{{ card.get_card_name(True) | e }}"
					data-card-source="{{ get_card_source_label(card) }}"
					data-card-release-date="{{ card.release_date | format_datestring(long_month=True) }}"
					ng-mouseover="toggleTooltip($event, true)"
					ng-mouseleave="toggleTooltip($event, false)">
				<div class="thumbnail-wrapper">
					<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }}-{{ get_atlas_plane(card.ordinal) }} card-{{ card.ordinal }}">
						<span class="source-indicator idol-{{ card.member_id.value }} source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="st-td st-cell-event-cards card-details">
	<div class="flex-wrapper">
		{% for card in event_data['gacha']: %}
			<div class="thumbnail tooltip-data"
					data-member-id="{{ card.member_id.value }}"
					data-member-name="{{ card.member_id.full_name }}"
					data-card-status="1"
					data-card-rarity="{{ card.rarity.value }}"
					data-card-attribute="{{ card.attribute.value }}"
					data-card-type="{{ card.type.value }}"
					data-card-title-normal="{{ card.get_card_name(False) | e }}"
					data-card-title-idolized="{{ card.get_card_name(True) | e }}"
					data-card-source="{{ get_card_source_label(card) }}"
					data-card-release-date="{{ card.release_date | format_datestring(long_month=True) }}"
					ng-mouseover="toggleTooltip($event, true)"
					ng-mouseleave="toggleTooltip($event, false)">
				<div class="thumbnail-wrapper">
					<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }}-{{ get_atlas_plane(card.ordinal) }} card-{{ card.ordinal }}">
						<span class="source-indicator idol-{{ card.member_id.value }} source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
