<h2>Event Cards</h2>
<p>List of events, event runtimes, featured member and associated cards.</p>

<p class="show-mobile"><b>Hint:</b> You can scroll the tables horizontally if they don't fit on screen.</p>

<div class="event-cards-group">
	<div class="stats-table event-cards-table">
		<div class="st-tr st-thead">
			<div class="st-th st-cell-40">Event</div>
			<div class="st-th st-cell-15">Featured</div>
			<div class="st-th st-cell-22-5">Free Cards</div>
			<div class="st-th st-cell-22-5">Gacha Cards</div>
		</div>
		
		<div class="st-tbody reversable">
			{% for event_id, event_data in events_with_cards.items() %}
				{% set event = event_data['event'] %}
				{% set member = event_data['free'][0].member_id %}
				<div class="st-tr">
					<div class="st-td st-cell-40 event-details">
						<div class="event-title">
							<span class="event-title-label" title="{{ event['title'] | e }}">
								<span>{{ event_id }}.</span> {{ event['title'] | e }}
							</span>
							<span class="event-title-type">
								({{ event['type'].name }})
							</span>
						</div>
						<div class="event-runtime">
							{# {{ event['start'] }} &mdash; {{ event['end'] }} #}
							SBL {{ event_data['sbl'] }}
						</div>
					</div>
					<div class="st-td st-cell-15 event-featured idol-identity idol-{{ member.value }}">
						<div class="idol-icon idol-icon-32-border idol-bg-color-dim"></div>
						<div class="idol-name">{{ member.first_name }}</div>
					</div>
					<div class="st-td st-cell-22-5 card-details">
						<div class="flex-wrapper">
							{% for card in event_data['free']: %}
								<div class="thumbnail">
									<div class="thumbnail-wrapper">
										<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }} card-{{ card.ordinal }}">
											<span class="source-indicator source-{{ card.source.value }}"></span>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="st-td st-cell-22-5 card-details">
						<div class="flex-wrapper">
							{% for card in event_data['gacha']: %}
								<div class="thumbnail">
									<div class="thumbnail-wrapper">
										<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }} card-{{ card.ordinal }}">
											<span class="source-indicator source-{{ card.source.value }}"></span>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
