<div class="history-page-selector">
	
	<ul class="page-selector group-page-selector">
		{% for group in Group %}
			<li class="group-{{ group.tag }}">
				<a ng-click="setGroup('{{ group.tag }}')" ng-class="groupActive('{{ group.tag }}')">
					{{ group.display_name }}
				</a>
			</li>
		{% endfor %}
	</ul>
	
	{% for group in Group %}
		<ul class="page-selector member-page-selector group-{{ group.tag }}" ng-if="idol_navigation.group == '{{ group.tag }}'">
			{% for member in Idols.by_group[group] %}
				<li class="idol-{{ member.id }}">
					<a href="#/history/{{ member.first_name.lower() }}/[[ active_page ]]"
						class="idol-bg-color-dim bg-color-highlight-hover idol-border-color-dark border-color-highlight-hover"
						ng-class="idolActive('{{ member.first_name.lower() }}')">
						<span class="idol-icon idol-icon-16-border"></span>
						<span class="idol-name">{{ member.first_name }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>

<ul class="page-selector stats-page-selector">
	<li><a href="#/history/{{ member.first_name.lower() }}/all"        ng-class="pageActive('all')">All</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/event"      ng-class="pageActive('event')">Event UR</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/festival"   ng-class="pageActive('festival')">Festival</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/party"      ng-class="pageActive('party')">Party</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/limited"    ng-class="pageActive('limited')">Limited</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/nonlimited" ng-class="pageActive('nonlimited')">Non-Limited</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/gacha"      ng-class="pageActive('gacha')">Any Gacha</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/ur"         ng-class="pageActive('ur')">Any UR</a></li>
	<li><a href="#/history/{{ member.first_name.lower() }}/sr"         ng-class="pageActive('sr')">Any SR</a></li>
</ul>

<div class="stats-category history-stats-category {{ category_tag }}">
	<h2>{{ member.first_name }} &mdash; {{ history_info[0] }}</h2>
	<p>
		{{ history_info[1] }}
		<span class="jp-ts">
			{% if member_added[Locale.JP][member]['game_launch'] %}
				{{ member.first_name }} was introduced in the game with its launch on {{ member_added[Locale.JP][member]['date_added'] | format_datestring(long_month=True) }}.
			{% else %}
				{{ member.first_name }} was introduced in the game on {{ member_added[Locale.JP][member]['date_added'] | format_datestring(long_month=True) }}.
			{% endif %}
		</span>
		<span class="ww-ts">
			{% if member_added[Locale.WW][member]['game_launch'] %}
				{{ member.first_name }} was introduced in the game with its launch on {{ member_added[Locale.WW][member]['date_added'] | format_datestring(long_month=True) }}.
			{% else %}
				{{ member.first_name }} was introduced in the game on {{ member_added[Locale.WW][member]['date_added'] | format_datestring(long_month=True) }}.
			{% endif %}
		</span>
	</p>
	<p class="show-mobile"><b>Hint:</b> You can scroll the tables horizontally if they don't fit on screen.</p>
	
	<div class="stats-category-group">
		<div class="stats-table {{ 'with-source' | conditional_css(history_flags.show_source) }}">
			<div class="st-tr st-thead idol-{{ member.value }}">
				<div class="st-th st-cell-35 idol-bg-color-dim">
					Released
				</div>
				<div class="st-th st-cell-15 idol-bg-color-dim time-inbetween" title="The time between this card's release and the previous.">
					Interval
				</div>
				<div class="st-th st-cell-50 idol-identity idol-bg-color-dim">
					<div class="idol-icon idol-icon-32-border"></div>
					<div class="idol-name">
						<span class="hide-narrow-1400-ib">{{ member.full_name }} Card History</span>
						<span class="show-narrow-1400-ib">{{ member.first_name }} Card History</span>
						<span class="jp-ts"><img src="/img/emoji_flag_jp.png" class="locale-emoji-20" alt="JP" title="Using Japanese Dates"></span>
						<span class="ww-ts"><img src="/img/emoji_globe.png" class="locale-emoji-20" alt="WW" title="Using Global Dates"></span>
					</div>
				</div>
			</div>
			
			<div class="st-tbody reversable">
				{% for card, time_since_release, time_since_previous in history_data %}
					<div class="st-tr idol-{{ member.value }}" data-index="{{ loop.index }}">
						<div class="st-td st-cell-17-5">
							<span class="jp-ts">{{ card.release_date[Locale.JP] | format_datestring(ordinalize=False) }}</span>
							<span class="ww-ts">{{ card.release_date[Locale.WW] | format_datestring(ordinalize=False) }}</span>
						</div>
						<div class="st-td st-cell-17-5">
							<span class="jp-ts">{{ time_since_release[Locale.JP].days | format_years_days }}</span>
							<span class="ww-ts">{{ time_since_release[Locale.WW].days | format_years_days }}</span>
						</div>
						{% if time_since_previous != None %}
							{% set title_text = 'the previous card' if loop.index != 1 else 'the character\'s introduction' %}
							<div class="st-td st-cell-15 time-inbetween with-data {{ 'character-addition-interval' | conditional_css(loop.index == 1) }}">
								<span class="jp-ts" title="This card released {{ time_since_previous[Locale.JP].days | format_delta_days }} after {{ title_text }}.">
								{{ time_since_previous[Locale.JP].days | format_delta_days }}
								</span>
								<span class="ww-ts" title="This card released {{ time_since_previous[Locale.WW].days | format_delta_days }} after {{ title_text }}.">
									{{ time_since_previous[Locale.WW].days | format_delta_days }}
								</span>
							</div>
						{% else %}
							<div class="st-td st-cell-15 time-inbetween">
								&mdash;
							</div>
						{% endif %}
						<div class="st-td st-cell-50 card-details">
							<div class="thumbnail">
								<div class="thumbnail-wrapper tooltip-data"
									{{ render_included("tooltip_data_attributes.html", card=card, card_status=1, stats_tooltip=True) }}>
									<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }}-{{ get_atlas_plane(card.ordinal) }} card-{{ card.ordinal }}">
										<span class="source-indicator source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
									</a>
								</div>
							</div>
							<div class="card-link">
								<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ellipsis-bullshit=".card-details" class="card-link-idolized" target="_blank">{{ card.get_card_name(True) }}</a>
							</div>
							{% if history_flags.show_source or history_flags.show_rarity %}
								<div class="card-metadata">
									{% if history_flags.show_source %}
										<div class="card-source">
											{{ card.source.display_name }}
										</div>
									{% endif %}
									{% if history_flags.show_rarity %}
										<div class="card-rarity icon-32 rarity-{{ card.rarity.value }}"></div>
									{% endif %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				{% if len(history_data) == 0: %}
					<div class="st-tr idol-{{ member.value }} no-results-found">
						<div class="st-td st-cell-100">
							{{ member.first_name }} has yet to receive cards of this type.
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
