<div class="main-content-inner">
	<h1>Welcome!</h1>
	<hr>
	<p>
		The website hosts automatically created card rotation charts and statistics for the cards from <a href="https://lovelive-as-global.com/" target="_blank">Love Live SIF All Stars</a>, updated daily. These charts can help you figure out which girl is most likely to receive a card next based on statistics like how many cards are remaining in the current rotation and how long it's been since their last card.
	</p>
	<p>
		Of course keep in mind that the developers are bound by no rule when it comes to adding new content, something that is decidedly evident when it comes to events. The site can at most serve you to make educated guesses.
	</p>
	<p>
		Card and event data is retrieved from <a href="https://allstars.kirara.ca/" target="_blank">Kirara All Stars Card Database</a>. They automatically scrape new card and event data which can mean that sometimes the data on their site, and consequently this one, can be incorrect or out of date as a result. A best effort is made and corrections will be made promptly.
	</p>
	<p>
		All card release and event timestamps used on this site are according to the original Japanese server releases.
	</p>
	<p>
		If you have feedback, suggestions or error reports regarding this website you can <a href="https://forms.gle/sMK7KSmXDsgmHrvH9" target="_blank" rel="noreferrer noopener">send feedback</a>.
	</p>
	<div class="newest-updates">
		<div class="updates-title">
			Newest Updates
		</div>
		<div class="updates-content">
			<h4>Mobile Layout Improvements</h4>
			<div class="news-entry">
				<p>
					Multiple mobile layout improvements were added that should help with usability on mobile and touch-only devices.
				</p>
				<ul>
					<li>Navigation and settings menus got a visual upgrade.</li>
					<li>Rotation and SR set columns for the groups are now side by side, and horizontally scrollable. No need to scroll way down to find Aqours and Nijigasaki anymore.</li>
					<li>Tooltips are now available on mobile and touch-only devices also: if enabled in settings, when tapping on a card icon a tooltip dialog will appear at the bottom of the screen. If you wish to still use direct links to All Stars Kirara Database instead you can disable the tooltips.</li>
				</ul>
			</div>
			<hr>
			<h4>New Card History Page</h4>
			<div class="news-entry">
				Now you can browse an idol's full card history in <a href="#/history">the new card history page</a>.
				The history shows the time elapsed since each card was released, as well as the time between the release of each card in the same category. This can give you an idea of how regularly the idol has received new cards in the past.
			</div>
		</div>
	</div>
	<h2>Getting started</h2>
	<hr>
	<div class="hide-mobile">
		<p>
			Just navigate to any of the categories in the navigation bar on the left.
		</p>
		<p>
			Note that you can also operate some settings by keybindings:
		</p>
		<ul class="hide-mobile settings-keybinds">
			<li class="keybind-header">General</li>
			<li><b>Q</b> Switches between idolized and normal card icons.</li>
			<li><b>W</b> Reverses the order of lists.</li>
			<li><b>S</b> Cycles to the next source highlight option. Use with the <b>Shift key</b> to go backwards.</li>
			<li><b>R</b> Resets above settings back to default.</li>
			
			<li><b>T</b> Toggles the tooltip visibility.</li>
			<li><b>Number keys</b> Changes the active sub-page when applicable.</li>
			
			<li class="keybind-header">Card Stats</li>
			<li><b>C</b> Collapses stats table groups. Members are displayed in a single table instead of by group.</li>
			<li><b>H</b> Hides rows for members that have not yet received a card in the viewed category.</li>
			
			<li class="keybind-header">Event Cards & Banners</li>
			<li><b>E</b> Cycles to the next filtered member. Use with the <b>Shift key</b> to go backwards.</li>
			<li><b>F</b> Displays only events with the featured member being the one currently selected.</li>
			<li><b>H</b> Highlights currently selected member. Overrides the default highlighting setting.</li>
			<li><b>R</b> Also resets these options when currently on the Event Cards page.</li>
		</ul>
	</div>
	<div class="show-mobile">
		<p>
			Just navigate to any of the categories in the navigation available by tapping the bars icon in the top bar.
		</p>
		<p>
			Some site settings can be modified from the settings menu available by tapping the cog icon.
		</p>
	</div>
</div>
