<div class="main-content-inner">
	<h1>Welcome!</h1>
	<p>
		This site hosts automatically formatted rotation charts of the cards from <a href="https://lovelive-as-global.com/" target="_blank">Love Live SIF All Stars</a>. These charts can be useful for determining at a glance which of the girls is the most likely to receive another card next, based on how many cards are remaining in the current rotation and how long it has been since their last one.
	</p>
	<p>
		Certainly the developers are not bound to rigid rotations, a fact most evident in event card rotations but frequently seen in other categories of cards as well. So this site should be used as an aid for educated guesses, not a singular source of truth.
	</p>
	<p>
		Data is retrieved from <a href="https://allstars.kirara.ca/" target="_blank">All Stars Card Database</a>. They do not guarantee full validity of the data at all times as it is automatically harvested from in game announcements, therefore a similar disclaimer applies to this site. Errors may be present but a best effort is made.
	</p>
	<p>
		Card statistics page uses the original JP release dates for calculating how long it has been since a card was added to the game.
	</p>
	<div class="work-in-progress">
		<p>This website is still a work in progress so things are subject to change.</p>
		<p>Mobile layout is a pretty new addition so it probably still has things to improve.</p>
		<p>Seems to run rather slow on mobile Chrome on Android (but it's fine on Firefox Android), not sure there is much to be done about that with how complex this site's HTML code actually is.</p>
	</div>
	<h2>Getting started</h2>
	<div class="hide-mobile">
		<p>
			Just navigate to any of the categories in the navigation bar on the left.
		</p>
		<p>
			Note that you can also operate some settings by keybindings:
		</p>
		<ul class="hide-mobile settings-keybinds">
			<li class="keybind-header">General</li>
			<li><b>Q</b> Toggles the idolized switch.</li>
			<li><b>W</b> Toggles the reversed order switch.</li>
			<li><b>S</b> Cycles to the next source highlight option. Use with the <b>Shift key</b> to go backwards.</li>
			<li><b>R</b> Resets above settings back to default.</li>
			
			<li><b>T</b> Toggles the tooltip visibility.</li>
			<li><b>Number keys</b> Changes the active sub-page when applicable.</li>
			
			<li class="keybind-header">Card Stats</li>
			<li><b>C</b> Collapses stats table groups. Members are displayed in a single table instead of by group.</li>
			<li><b>H</b> Toggles hidden rows for girls that have not yet received a card in the viewed category.</li>
		</ul>
	</div>
	<div class="show-mobile">
		<p>
			Just navigate to any of the categories in the navigation bar by tapping the bars icon in the top bar.
		</p>
		<p>
			Some site settings can be modified from the settings menu available by tapping the cog icon.
		</p>
	</div>
</div>
