<!DOCTYPE html>
<html ng-app="app">
<head>
	<title ng-bind-html="title">SIFAS Card Rotations</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ cache_buster('/css/fonts.css') }}">
	<link rel="stylesheet" href="{{ cache_buster('/css/style.css') }}">
	<link rel="stylesheet" href="{{ cache_buster('/css/idols.css') }}">
	<link rel="stylesheet" href="{{ cache_buster('/css/atlas.css') }}">
	<meta property="og:url" content="https://sifas-cards.sonaza.com/">
	<meta property="og:title" content="SIFAS Card Rotations">
	<meta property="og:description" content="View card rotations and related statistics.">
	<meta property="og:image" content="https://sifas-cards.sonaza.com/img/favicon_tile_256.png">
	<link rel="shortcut icon" href="/favicon.ico">
	<base href="/">
</head>
<body ng-controller="MainController as main">
	<div id="header">
		<div id="header-inner">
			<h2 ng-bind-html="title">
				SIFAS Card Rotations
			</h2>
		</div>
	</div>
	<div id="main-outer-wrapper">
		<div id="main-wrapper">
			<div id="side-nav" ng-controller="NavController">
				<div class="side-nav-inner">
					<ul>
						<li><a href="#/"             ng-class="classActive('/', true)">Home</a></li>
						<li><a href="#/ur-rotations" ng-class="classActive('/ur-rotations')">UR Rotations</a></li>
						<li><a href="#/muse"         ng-class="classActive('/muse')">µ's Cards</a></li>
						<li><a href="#/aqours"       ng-class="classActive('/aqours')">Aqours Cards</a></li>
						<li><a href="#/nijigasaki"   ng-class="classActive('/nijigasaki')">Nijigasaki Cards</a></li>
						<li><a href="#/festival"     ng-class="classActive('/festival')">Festival Rotations</a></li>
						<li><a href="#/party"        ng-class="classActive('/party')">Party Rotations</a></li>
						<li><a href="#/event"        ng-class="classActive('/event')">Event Rotations</a></li>
						<li><a href="#/sr-sets"      ng-class="classActive('/sr-sets')">SR Sets</a></li>
						<li><a href="#/stats"        ng-class="classActive('/stats')">Card Stats</a></li>
					</ul>
					<div class="settings">
						<div class="pill-button" pill-button="settings.use_idolized_thumbnails">
							<div class="inner">
								<div class="inner-dot">&nbsp;</div>
							</div>
							<div class="label">
								Idolized
							</div>
						</div>
						<div class="pill-button" pill-button="settings.order_reversed">
							<div class="inner">
								<div class="inner-dot">&nbsp;</div>
							</div>
							<div class="label">
								Newest First
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="main" class="" ng-class="{'use-idolized-thumbnails' : settings.use_idolized_thumbnails, 'order-reversed' : settings.order_reversed}">
				<div id="main-inner">
					<div class="main-content" ng-view>

					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div id="footer-top">
			<div class="footer-top-inner">
				<div style="width:40%">
					Website created by Sonaza
				</div>
				<div style="width:60%">
					For use with <a href="https://lovelive-as-global.com/" target="_blank" rel="noreferrer noopener">Love Live School Idol Festival All Stars</a>
				</div>
			</div>
		</div>
		<div id="footer-bottom">
			<div class="col-lg-12">
				This website is not affiliated with Love Live!, KLab Inc., SUNRISE Inc., Bushiroad Inc. or any other associated company. Art copyright &copy; KLab Inc.
			</div>
		</div>
	</footer>
	<script src="/js/vendor/angular/angular.min.js"></script>
	<script src="/js/vendor/angular/angular-route.min.js"></script>
	<script src="/js/vendor/angular/angular-sanitize.js"></script>
	<script src="{{ cache_buster('/js/public.js') }}"></script>
</body>
</html>
