{{ include_static("stats_category_topbar.html") }}

{% if category_tag == 'general' %}

	<div class="stats-category general">
		<h2>General Stats</h2>
		<p>Numbers of different types of cards.</p>
		<p class="show-mobile"><b>Hint:</b> You can scroll the tables horizontally if they don't fit on screen.</p>
		{% for group, stats in general_stats.items() %}
			<div class="stats-category-group {{ group.tag }}">
				<div class="stats-table general">
					<div class="st-tr st-thead">
						<div class="st-th st-cell-25">{{ group.display_name }} Members</div>
						
						<div class="st-th st-cell-7-5">URs</div>
						<div class="st-th st-cell-7-5">SRs</div>
						
						<div class="st-th st-cell-15">Festival</div>
						<div class="st-th st-cell-15">Party</div>
						<div class="st-th st-cell-15">Event</div>
						<div class="st-th st-cell-15">Gacha</div>
					</div>
					<div class="st-tbody">
						{% for member in Idols.member_order_by_group[group] %}
							<div class="st-tr idol-{{ member.value }}">
								<div class="st-td st-cell-25 idol-identity">
									<span class="idol-icon idol-icon-32-border idol-bg-color-dim"></span>
									<span class="idol-name">{{ member.full_name }}</span>
								</div>
								
								<div class="st-td st-cell-7-5 stat-number">{{ stats.rarity[member][Rarity.UR] }}</div>
								<div class="st-td st-cell-7-5 stat-number">{{ stats.rarity[member][Rarity.SR] }}</div>
								
								<div class="st-td st-cell-15 stat-number">{{ stats.source[member]['festival'] }}</div>
								<div class="st-td st-cell-15 stat-number">{{ stats.source[member]['party'] }}</div>
								<div class="st-td st-cell-15 stat-number">{{ stats.source[member]['event'] }}</div>
								<div class="st-td st-cell-15 stat-number">{{ stats.source[member]['gacha'] }}</div>
							</div>
						{% endfor %}
					</div>
					
					
					<div class="st-tr st-thead">
						<div class="st-th st-cell-25">{{ group.display_name }} Members</div>
						<div class="st-th st-cell-45">Attributes</div>
						<div class="st-th st-cell-30">Types</div>
					</div>
					<div class="st-tbody stats-attribute-type">
						{% for member in Idols.member_order_by_group[group] %}
							<div class="st-tr idol-{{ member.value }}">
								<div class="st-td st-cell-25 idol-identity">
									<div class="idol-icon idol-icon-32-border idol-bg-color-dim"></div>
									<div class="idol-name">{{ member.full_name }}</div>
								</div>
								
								{% for attribute in Attribute %}
									<div class="st-td st-cell-7-5 stat-various {{ 'has-none' | conditional_css(stats.attribute[member][attribute] == 0) }} attribute-{{ attribute.value }} attribute-bg-color-dim" title="{{ attribute.name }}-attribute">
										<span class="icon-32 attribute-{{ attribute.value }}">{{ stats.attribute[member][attribute] }}</span>
									</div>
								{% endfor %}
								
								{% for type in Type %}
									<div class="st-td st-cell-7-5 stat-various {{ 'has-none' | conditional_css(stats.type[member][type] == 0) }} type-{{ type.value }} type-bg-color-dim" title="{{ type.name }}-type">
										<span class="icon-32 type-{{ type.value }}">{{ stats.type[member][type] }}</span>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% else %}

	<div class="stats-category {{ category_tag }}">
		<h2>{{ category_info[0] }}</h2>
		<p>{{ category_info[1] }}</p>
		<p class="show-mobile"><b>Hint:</b> You can scroll the tables horizontally if they don't fit on screen.</p>
		
		<div class="page-settings-bar stats-settings">
			<div pill-button model="settings.collapsed" keybind="C">
				Collapse Groups
			</div>
			<div pill-button model="settings.hide_empty_rows" keybind="H" class="hide-empty-rows-toggle {{ 'has-empty-rows' | conditional_css(has_empty_rows) }}">
				Hide Empty Rows
			</div>
		</div>
		{% for group, data in category_data.items() %}
			<div class="stats-category-group collapsible {{ group.tag or group }}">
				<div class="stats-table {{ 'with-source' | conditional_css(data.show_source) }}">
					<div class="st-tr st-thead">
						<div class="st-th st-cell-30">{{ group.display_name }} Members</div>
						<div class="st-th st-cell-70">
							Most Recent Card&nbsp;
							<span class="jp-ts"><img src="/img/emoji_flag_jp.png" class="locale-emoji-20" alt="JP" title="Using Japanese Dates"></span>
							<span class="ww-ts"><img src="/img/emoji_globe.png" class="locale-emoji-20" alt="WW" title="Using Global Dates"></span>
						</div>
					</div>
					
					<div class="st-tbody reversable">
						{% for member, card, time_since, highlight in data.cards %}
							<div class="st-tr idol-{{ member.value }} {{ 'empty-row' | conditional_css(not is_valid_card(card)) }} 
								{{ 'highlight-idol' | conditional_css(highlight) }} {{ 'highlight-new' | conditional_css(is_valid_card(card) and (time_since[Locale.JP].days <= 0)) }}" data-index="{{ loop.index }}">
								<div class="st-td st-cell-30 idol-identity">
									<div class="idol-icon idol-icon-32-border idol-bg-color-dim"></div>
									<div class="idol-name">
										<span class="hide-narrow-1400">{{ member.full_name }}</span>
										<span class="show-narrow-1400">{{ member.first_name }}</span>
									</div>
									{% if data.limited_sources: %}
										<div class="idol-limited">
											{% for source in data.limited_sources: %}
												{% set lim_info = data.limited_idols[member][source] %}
												<span class="limited-pill source-{{ source.value }} {{ 'limited-not-max' | conditional_css(lim_info['num_idols'] < (data.max_per_source[source] + lim_info['max_offset'])) }}"
												      title="{{ member.first_name }} has {{ lim_info['num_idols'] }} {{ source.name }} card(s)">
													{{ lim_info['num_idols'] }} {{ source.name[0] }}
												</span>
											{% endfor %}
										</div>
									{% endif %}
								</div>
								{% if is_valid_card(card) %}
									<div class="st-td st-cell-20 card-release-elapsed">
										{% if category_tag not in ['limited', 'nonlimited', 'ur', 'sr', 'all']: %}
											<a href="#/history/{{ member.first_name.lower() }}/{{ history_category[card.source] }}" class="history-link">
												{% if time_since[Locale.JP] != time_since[Locale.WW]: %}
													<span class="jp-ts" title="Released on {{ card.release_date[Locale.JP] | format_datestring }}">
														{{ time_since[Locale.JP].days | format_days }}
													</span>
													<span class="ww-ts" title="Released on {{ card.release_date[Locale.WW] | format_datestring }}">
														{{ time_since[Locale.WW].days | format_days }}
													</span>
												{% else: %}
													<span title="Released on {{ card.release_date[Locale.JP] | format_datestring }}">
														{{ time_since[Locale.JP].days | format_days }}
													</span>
												{% endif %}
											</a>
										{% else %}
											<a href="#/history/{{ member.first_name.lower() }}/{{ category_tag }}" class="history-link">
												{% if time_since[Locale.JP] != time_since[Locale.WW]: %}
													<span class="jp-ts" title="Released on {{ card.release_date[Locale.JP] | format_datestring }}">
														{{ time_since[Locale.JP].days | format_days }}
													</span>
													<span class="ww-ts" title="Released on {{ card.release_date[Locale.WW] | format_datestring }}">
														{{ time_since[Locale.WW].days | format_days }}
													</span>
												{% else: %}
													<span title="Released on {{ card.release_date[Locale.JP] | format_datestring }}">
														{{ time_since[Locale.JP].days | format_days }}
													</span>
												{% endif %}
											</a>
										{% endif %}
									</div>
									<div class="st-td st-cell-50 card-details">
										<div class="thumbnail">
											<div class="thumbnail-wrapper tooltip-data"
												{{ render_included("tooltip_data_attributes.html", card=card, card_status=1, stats_tooltip=True) }}>
												<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ng-click="openMobileTooltip($event)" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }}-{{ get_atlas_plane(card.ordinal) }} card-{{ card.ordinal }}">
													<span class="source-indicator source-{{ card.source.value }} group-{{ card.group_id.value }}"></span>
												</a>
											</div>
										</div>
										<div class="card-link">
											<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" ellipsis-bullshit=".card-details" class="card-link-idolized" target="_blank">{{ card.get_card_name(True) }}</a>
										</div>
										
										{% if data.show_source or data.show_rarity %}
											<div class="card-metadata">
												{% if data.show_source %}
													<div class="card-source">
														{{ card.source.display_name }}
													</div>
												{% endif %}
												{% if data.show_rarity %}
													<div class="card-rarity icon-32 rarity-{{ card.rarity.value }}"></div>
												{% endif %}
											</div>
										{% endif %}
									</div>
								{% else %} 
									<div class="st-td st-cell-20">
										Never
									</div>
									<div class="st-td st-cell-50" style="color: #aaa;">
										&mdash;
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
{% endif %}
