<ul class="page-selector stats-page-selector">
	<li><a href="#/stats/general"   ng-class="pageActive('general')">General</a></li>
	<li><a href="#/stats/event"     ng-class="pageActive('event')">Event URs</a></li>
	<li><a href="#/stats/festival"  ng-class="pageActive('festival')">Festival URs</a></li>
	<li><a href="#/stats/party"     ng-class="pageActive('party')">Party URs</a></li>
	<li><a href="#/stats/limited"   ng-class="pageActive('limited')">Festival + Party</a></li>
	<li><a href="#/stats/spotlight" ng-class="pageActive('spotlight')">Party + Spotlight</a></li>
	<li><a href="#/stats/gacha"     ng-class="pageActive('gacha')">Any Gacha UR</a></li>
	<li><a href="#/stats/ur"        ng-class="pageActive('ur')">Any UR</a></li>
	<li><a href="#/stats/sr"        ng-class="pageActive('sr')">Any SR</a></li>
</ul>

{% if category_tag == 'general' %}

	<div class="stats-category general">
		<h2>General Stats</h2>
		<p>Numbers of different types of cards.</p>
		<p class="show-mobile"><b>Hint:</b> You can scroll the tables horizontally if they don't fit on screen.</p>
		{% for group, data in general_stats.items() %}
			<div class="stats-category-group {{ group.tag }}">
				<div class="stats-table general">
					<div class="st-tr st-thead">
						<div class="st-th st-cell-25">{{ group.displayname }} Members</div>
						
						<div class="st-th st-cell-7-5">URs</div>
						<div class="st-th st-cell-7-5">SRs</div>
						
						<div class="st-th st-cell-15">Festival</div>
						<div class="st-th st-cell-15">Party</div>
						<div class="st-th st-cell-15">Event</div>
						<div class="st-th st-cell-15">Gacha</div>
					</div>
					<div class="st-tbody">
						{% for member, stats in data %}
							<div class="st-tr idol-{{ member.value }}">
								<div class="st-td st-cell-25 idol-identity">
									<span class="idol-icon idol-icon-32-border idol-bg-color-dim"></span>
									<span class="idol-name">{{ member.full_name }}</span>
								</div>
								
								<div class="st-td st-cell-7-5 stat-number">{{ stats['URs'] }}</div>
								<div class="st-td st-cell-7-5 stat-number">{{ stats['SRs'] }}</div>
								
								<div class="st-td st-cell-15 stat-number">{{ stats['festival'] }}</div>
								<div class="st-td st-cell-15 stat-number">{{ stats['party'] }}</div>
								<div class="st-td st-cell-15 stat-number">{{ stats['event'] }}</div>
								<div class="st-td st-cell-15 stat-number">{{ stats['gacha'] }}</div>
							</div>
						{% endfor %}
					</div>
					
					
					<div class="st-tr st-thead">
						<div class="st-th st-cell-25">{{ group.displayname }} Members</div>
						<div class="st-th st-cell-45">Attributes</div>
						<div class="st-th st-cell-30">Types</div>
					</div>
					<div class="st-tbody">
						{% for member, stats in data %}
							<div class="st-tr idol-{{ member.value }}">
								<div class="st-td st-cell-25 idol-identity">
									<div class="idol-icon idol-icon-32-border idol-bg-color-dim"></div>
									<div class="idol-name">{{ member.full_name }}</div>
								</div>
								
								{% for attribute in Attribute %}
									<div class="st-td st-cell-7-5 stat-various {{ 'has-none' | conditional_css(stats['attributes'][attribute] == 0) }} attribute-{{ attribute.value }} attribute-bg-color-dim" title="{{ attribute.name }}-attribute">
										<span class="icon-32 attribute-{{ attribute.value }}">{{ stats['attributes'][attribute] }}</span>
									</div>
								{% endfor %}
								
								{% for type in Type %}
									<div class="st-td st-cell-7-5 stat-various {{ 'has-none' | conditional_css(stats['types'][type] == 0) }} type-{{ type.value }} type-bg-color-dim" title="{{ type.name }}-type">
										<span class="icon-32 type-{{ type.value }}">{{ stats['types'][type] }}</span>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% else %}

	<div class="stats-category {{ category_tag }}">
		<h2>{{ category_info[0] }}</h2>
		<p>{{ category_info[1] }}</p>
		<p class="show-mobile"><b>Hint:</b> You can scroll the tables horizontally if they don't fit on screen.</p>
		{% for group, data in category_data.items() %}
			<div class="stats-category-group collapsible {{ group.tag or group }}">
				<div class="stats-table {{ 'with-source' | conditional_css(data.show_source) }}">
					<div class="st-tr st-thead">
						<div class="st-th st-cell-30">{{ group.displayname }} Members</div>
						<div class="st-th st-cell-70">Most Recent Card</div>
					</div>
					
					<div class="st-tbody reversable">
						{% for member, card, time_since in data.cards %}
							<div class="st-tr idol-{{ member.value }}" data-index="{{ loop.index }}">
								<div class="st-td st-cell-30 idol-identity">
									<div class="idol-icon idol-icon-32-border idol-bg-color-dim"></div>
									<div class="idol-name">{{ member.full_name }}</div>
								</div>
								{% if is_valid_card(card) %}
									<div class="st-td st-cell-20" title="Released on {{ card.release_date.strftime('%d %B %Y') }}">
										{{ time_since.days | format_days }}
									</div>
									<div class="st-td st-cell-50 card-details">
										<div class="thumbnail">
											<div class="thumbnail-wrapper">
												<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" target="_blank" class="card-thumbnail group-{{ card.group_id.value }}-{{ card.rarity.value }} card-{{ card.ordinal }}">
													<span class="source-indicator source-{{ card.source.value }}"></span>
												</a>
											</div>
										</div>
										<div class="card-link">
											<a href="https://allstars.kirara.ca/card/{{ card.ordinal }}" class="card-link-idolized" target="_blank">{{ card.get_card_name(True) }}</a>
										</div>
										{% if data.show_source %}
											<div class="card-source">
												{{ card.source.displayname }}
											</div>
										{% endif %}
									</div>
								{% else %} 
									<div class="st-td st-cell-20">
										Never
									</div>
									<div class="st-td st-cell-50" style="color: #aaa;">
										&mdash;
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
{% endif %}
