<!DOCTYPE html>
<html>
<head>
	<title>UR Rotations</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="column-wrapper">
		<div class="column">
			<div class="rotation-group muse">
				<div class="rotation-title">
					µ's Rotation 1
				</div>
				<div class="rotation-grid">
					<div class="grid-icon idol-8"><a href="https://allstars.kirara.ca/card/32"><img src="https://tirofinale.kirara.ca/s/ci/rua/-aFo/wJdb83DQfwG-pg.png" alt=""></a></div>
					<div class="grid-icon idol-5"><a href="https://allstars.kirara.ca/card/20"><img src="https://tirofinale.kirara.ca/s/ci/rpn/-bVU/osJel40qsCfGAQ.png" alt=""></a></div>
					<div class="grid-icon idol-6"><a href="https://allstars.kirara.ca/card/24"><img src="https://tirofinale.kirara.ca/s/ci/rkc/-Q1c/K1Jh3N3Xu9D16A.png" alt=""></a></div>
					<div class="grid-icon idol-1"><a href="https://allstars.kirara.ca/card/4"><img src="https://tirofinale.kirara.ca/s/ci/rue/-WzA/ObT1RXzPtdy2Ug.png" alt=""></a></div>
					<div class="grid-icon idol-3"><a href="https://allstars.kirara.ca/card/12"><img src="https://tirofinale.kirara.ca/s/ci/rvc/-UDM/71Tc-gVm4G5-wA.png" alt=""></a></div>
					<div class="grid-icon idol-4"><a href="https://allstars.kirara.ca/card/16"><img src="https://tirofinale.kirara.ca/s/ci/rpm/-JWg/Hkf6MCKU_59rNg.png" alt=""></a></div>
					<div class="grid-icon idol-7"><a href="https://allstars.kirara.ca/card/28"><img src="https://tirofinale.kirara.ca/s/ci/rkm/-LnU/JQdkzOc_aHh32w.png" alt=""></a></div>
					<div class="grid-icon idol-2"><a href="https://allstars.kirara.ca/card/8"><img src="https://tirofinale.kirara.ca/s/ci/rup/-dFQ/pmgAlItC6n_fZQ.png" alt=""></a></div>
					<div class="grid-icon idol-9"><a href="https://allstars.kirara.ca/card/36"><img src="https://tirofinale.kirara.ca/s/ci/rve/-JVE/YgliL7y1mEGh5Q.png" alt=""></a></div>
				</div>
			</div>
			<div class="rotation-group muse">
				<div class="rotation-title">
					µ's Rotation 2
				</div>
				<div class="rotation-grid">
					<div class="grid-icon idol-8"><a href="https://allstars.kirara.ca/card/117"><img src="https://tirofinale.kirara.ca/s/ci/rkp/-WmBP/IpKZBXS7uymw1A.png" alt=""></a></div>
					<div class="grid-icon idol-5"><a href="https://allstars.kirara.ca/card/137"><img src="https://tirofinale.kirara.ca/s/ci/rvm/-KEpO/2wnnU-W2j8bQEQ.png" alt=""></a></div>
					<div class="grid-icon idol-6"><a href="https://allstars.kirara.ca/card/127"><img src="https://tirofinale.kirara.ca/s/ci/rue/-TEpH/JbJ2IM3njZ12VA.png" alt=""></a></div>
					<div class="grid-icon idol-1"><a href="https://allstars.kirara.ca/card/102"><img src="https://tirofinale.kirara.ca/s/ci/rpm/-JGY9/-3GLf3hLSP_k5Q.png" alt=""></a></div>
					<div class="grid-icon idol-3"><a href="https://allstars.kirara.ca/card/100"><img src="https://tirofinale.kirara.ca/s/ci/rkn/-Ukd6/rmn5QdnCfw85wQ.png" alt=""></a></div>
					<div class="grid-icon idol-4"><a href="https://allstars.kirara.ca/card/112"><img src="https://tirofinale.kirara.ca/s/ci/rva/-dlxN/-Mug1mw0LzUhWw.png" alt=""></a></div>
					<div class="grid-icon idol-7"><a href="https://allstars.kirara.ca/card/134"><img src="https://tirofinale.kirara.ca/s/ci/rpa/-cGlp/C_qMLmC20VIrbQ.png" alt=""></a></div>
					<div class="grid-icon idol-2"><a href="https://allstars.kirara.ca/card/122"><img src="https://tirofinale.kirara.ca/s/ci/rvn/-LnJd/U2LZEzw3M3bapw.png" alt=""></a></div>
					<div class="grid-icon idol-9"><a href="https://allstars.kirara.ca/card/139"><img src="https://tirofinale.kirara.ca/s/ci/rka/-Nl0n/C1oE2P-84O3dKQ.png" alt=""></a></div>
				</div>
			</div>
			<div class="rotation-group muse">
				<div class="rotation-title">
					µ's Rotation 3
				</div>
				<div class="rotation-grid">
					<div class="grid-icon idol-8"><a href="https://allstars.kirara.ca/card/155"><img src="https://tirofinale.kirara.ca/s/ci/rvm/-d2RI/_oYV1PBMRlCdHg.png" alt=""></a></div>
					<div class="grid-icon idol-5"><a href="https://allstars.kirara.ca/card/188"><img src="https://tirofinale.kirara.ca/s/ci/rkp/-VS9P/rmekgyQYDS9alA.png" alt=""></a></div>
					<div class="grid-icon idol-6"><a href="https://allstars.kirara.ca/card/170"><img src="https://tirofinale.kirara.ca/s/ci/rpa/-WTVE/WLyA9mnaDS5BGA.png" alt=""></a></div>
					<div class="grid-icon idol-1"><a href="https://allstars.kirara.ca/card/175"><img src="https://tirofinale.kirara.ca/s/ci/rvp/-TW54/ABwBrpluAdRyKA.png" alt=""></a></div>
					<div class="grid-icon idol-3"><a href="https://allstars.kirara.ca/card/144"><img src="https://tirofinale.kirara.ca/s/ci/rpe/-PDty/UOncbFrjbSl1ow.png" alt=""></a></div>
					<div class="grid-icon idol-4"><a href="https://allstars.kirara.ca/card/151"><img src="https://tirofinale.kirara.ca/s/ci/run/-RX55/sVh5MOwuqNDP9g.png" alt=""></a></div>
					<div class="grid-icon idol-7"><a href="https://allstars.kirara.ca/card/193"><img src="https://tirofinale.kirara.ca/s/ci/rvc/-L2dC/ygesFATuoWNPNA.png" alt=""></a></div>
					<div class="grid-icon idol-2"><a href="https://allstars.kirara.ca/card/159"><img src="https://tirofinale.kirara.ca/s/ci/rkc/-IzFA/WMeWxppXUKI19Q.png" alt=""></a></div>
					<div class="grid-icon idol-9"><a href="https://allstars.kirara.ca/card/164"><img src="https://tirofinale.kirara.ca/s/ci/rum/-VFtm/h9SwvClDhqr1tA.png" alt=""></a></div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="rotation-group aqours">
				<div class="rotation-title">
					Aqours Rotation 1
				</div>
				<div class="rotation-grid">
					<div class="grid-icon idol-107"><a href="https://allstars.kirara.ca/card/64"><img src="https://tirofinale.kirara.ca/s/ci/rpp/-bQ/dWW8wmzzV9JcqQ.png" alt=""></a></div>
					<div class="grid-icon idol-106"><a href="https://allstars.kirara.ca/card/60"><img src="https://tirofinale.kirara.ca/s/ci/rpe/-S2c/oB8GGpLvUaql0A.png" alt=""></a></div>
					<div class="grid-icon idol-109"><a href="https://allstars.kirara.ca/card/72"><img src="https://tirofinale.kirara.ca/s/ci/rka/-JW4/hC_FXIcRUhuLPQ.png" alt=""></a></div>
					<div class="grid-icon idol-101"><a href="https://allstars.kirara.ca/card/40"><img src="https://tirofinale.kirara.ca/s/ci/rka/-KTs/a3Nk0vomJqe6Pw.png" alt=""></a></div>
					<div class="grid-icon idol-102"><a href="https://allstars.kirara.ca/card/44"><img src="https://tirofinale.kirara.ca/s/ci/rup/-TmA/LgZ__HWyZG3gZQ.png" alt=""></a></div>
					<div class="grid-icon idol-105"><a href="https://allstars.kirara.ca/card/56"><img src="https://tirofinale.kirara.ca/s/ci/ruc/-Ijo/BG-As0sTZ2mQ5w.png" alt=""></a></div>
					<div class="grid-icon idol-103"><a href="https://allstars.kirara.ca/card/48"><img src="https://tirofinale.kirara.ca/s/ci/rvn/-XGg/HxV3o32nkR0lgw.png" alt=""></a></div>
					<div class="grid-icon idol-104"><a href="https://allstars.kirara.ca/card/52"><img src="https://tirofinale.kirara.ca/s/ci/rke/-bDE/dGdRtw8JJ4HOgQ.png" alt=""></a></div>
					<div class="grid-icon idol-108"><a href="https://allstars.kirara.ca/card/68"><img src="https://tirofinale.kirara.ca/s/ci/rvn/-aE0/-z0xn4DdhUBmYw.png" alt=""></a></div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="rotation-group nijigasaki">
				<div class="rotation-title">
					Nijigasaki Rotation 1
				</div>
				<div class="rotation-grid">
					<div class="grid-icon idol-203"><a href="https://allstars.kirara.ca/card/152"><img src="https://tirofinale.kirara.ca/s/ci/rkp/-NVJq/0bPXSHRlIKecxw.png" alt=""></a></div>
					<div class="grid-icon idol-202"><a href="https://allstars.kirara.ca/card/167"><img src="https://tirofinale.kirara.ca/s/ci/rkm/-XWA-/AA0zkeD_0-SXtA.png" alt=""></a></div>
					<div class="grid-icon idol-209"><a href="https://allstars.kirara.ca/card/173"><img src="https://tirofinale.kirara.ca/s/ci/rpe/-IWtO/p8K8AE1E6_Cw1A.png" alt=""></a></div>
					<div class="grid-icon idol-210"><a href="https://allstars.kirara.ca/card/356"><img src="https://tirofinale.kirara.ca/s/ci/rvm/-ZTp1/IyvgYRkS-8I0EQ.png" alt=""></a></div>
					<div class="grid-icon idol-201"><a href="https://allstars.kirara.ca/card/160"><img src="https://tirofinale.kirara.ca/s/ci/rua/-cWdh/wCJl608ZvajhPA.png" alt=""></a></div>
					<div class="grid-icon idol-207"><a href="https://allstars.kirara.ca/card/146"><img src="https://tirofinale.kirara.ca/s/ci/rva/-PFZI/A3xhOiH-2HWibA.png" alt=""></a></div>
					<div class="grid-icon idol-205"><a href="https://allstars.kirara.ca/card/177"><img src="https://tirofinale.kirara.ca/s/ci/rue/-MWgl/mmV8d7ZWkmC_HA.png" alt=""></a></div>
					<div class="grid-icon idol-212 missing"></div>
					<div class="grid-icon idol-208"><a href="https://allstars.kirara.ca/card/163"><img src="https://tirofinale.kirara.ca/s/ci/rpn/-TlJh/GUSIObU-qvuraw.png" alt=""></a></div>
					<div class="grid-icon idol-206"><a href="https://allstars.kirara.ca/card/182"><img src="https://tirofinale.kirara.ca/s/ci/rve/-P1tB/8bpPCV1MqQb4ag.png" alt=""></a></div>
					<div class="grid-icon idol-204"><a href="https://allstars.kirara.ca/card/129"><img src="https://tirofinale.kirara.ca/s/ci/rpc/-eng4/jLCoFfjgDCkQDg.png" alt=""></a></div>
					<div class="grid-icon idol-211"><a href="https://allstars.kirara.ca/card/579"><img src="https://tirofinale.kirara.ca/s/ci/rkc/-d3Vu/QyJIW2qCkBOe3A.png" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
